extends ../layout/main

block head
  - var title = 'Комбайн CR 9.80 New Holland - Характеристики'
  - var bodyClass = ''
block content
  +bred

  .container
    .row
      .col-12
        h1 !{title}
  .prod
    .prod__header
      .prod__header-top
        .container
          .row
            .col-sm-6
              +rating('15 відгуків')
            .col-sm-6
              .prod-id 
                span Код: 
                | 243335311
      .prod__header-nav
        .container
          .row
            .col-12
              .prod__header-nav-box
                ul
                  li
                    a(href="#") Все про товар
                  li.active
                    a(href="#") Характеристики
                  li
                    a(href="#") Опис
                  li
                    a(href="#") Відгуки 
                      span 15
                  li
                    a(href="#") Галерея
    .prod__main
      .container
        .row.row--reorder
          .col-xl-7
            .char
              h2.mb-35  Характеристики
              .char__box
                h4 зернові жатки
                +char-item('Надпродуктивні жатки для зернових, м','7,3-9,15')
                +char-item('Жатки для зернових типу Varifeed, м', '7,3-9,15')
                +char-item('Хід ножа, мм', '500')
                +char-item('Кількість зрізів, 1 / хв.', '1150')
                h4 Двигун
                +char-item('Двигун', 'Cursor 13 FPT')
                +char-item('Номінальна потужність по ISO при 2000 об. / Хв., КВт / к.с.', '360/490')
                +char-item('Максимальна потужність при 2000 об. / Хв., КВт / к.с.', '390/530')
                +char-item('Тип управління', 'Електронний')
                +char-item('Паливний бак, л', '1000')
                h4 Похила камера
                +char-item('Поперечна флотація Auto Float', '+')
                +char-item('Контроль висоти', '+')
                +char-item('Кількість ланцюгів', '4')
                +char-item('Реверс', 'Гідравлічний')
                h4 Бітер
                +char-item('Ширина, мм', '1560')
                +char-item('Діаметр, мм', '400')


                h4 зернові жатки
                +char-item('Надпродуктивні жатки для зернових, м','7,3-9,15')
                +char-item('Жатки для зернових типу Varifeed, м', '7,3-9,15')
                +char-item('Хід ножа, мм', '500')
                +char-item('Кількість зрізів, 1 / хв.', '1150')
                h4 Двигун
                +char-item('Двигун', 'Cursor 13 FPT')
                +char-item('Номінальна потужність по ISO при 2000 об. / Хв., КВт / к.с.', '360/490')
                +char-item('Максимальна потужність при 2000 об. / Хв., КВт / к.с.', '390/530')
                +char-item('Тип управління', 'Електронний')
                +char-item('Паливний бак, л', '1000')
                h4 Похила камера
                +char-item('Поперечна флотація Auto Float', '+')
                +char-item('Контроль висоти', '+')
                +char-item('Кількість ланцюгів', '4')
                +char-item('Реверс', 'Гідравлічний')
                h4 Бітер
                +char-item('Ширина, мм', '1560')
                +char-item('Діаметр, мм', '400')


                h4 зернові жатки
                +char-item('Надпродуктивні жатки для зернових, м','7,3-9,15')
                +char-item('Жатки для зернових типу Varifeed, м', '7,3-9,15')
                +char-item('Хід ножа, мм', '500')
                +char-item('Кількість зрізів, 1 / хв.', '1150')
                h4 Двигун
                +char-item('Двигун', 'Cursor 13 FPT')
                +char-item('Номінальна потужність по ISO при 2000 об. / Хв., КВт / к.с.', '360/490')
                +char-item('Максимальна потужність при 2000 об. / Хв., КВт / к.с.', '390/530')
                +char-item('Тип управління', 'Електронний')
                +char-item('Паливний бак, л', '1000')
                h4 Похила камера
                +char-item('Поперечна флотація Auto Float', '+')
                +char-item('Контроль висоти', '+')
                +char-item('Кількість ланцюгів', '4')
                +char-item('Реверс', 'Гідравлічний')
                h4 Бітер
                +char-item('Ширина, мм', '1560')
                +char-item('Діаметр, мм', '400')

          .col-xl-5
            +short-info(true)
  

  +similar     






















































//- 