extends ../layout/main

block head
  - var title = 'Комбайн CR 9.80 New Holland - Опис'
  - var bodyClass = ''
block content
  +bred

  .container
    .row
      .col-12
        h1 !{title}
  .prod
    .prod__header
      .prod__header-top
        .container
          .row
            .col-sm-6
              +rating('15 відгуків')
            .col-sm-6
              .prod-id 
                span Код: 
                | 243335311
      .prod__header-nav
        .container
          .row
            .col-12
              .prod__header-nav-box
                ul
                  li
                    a(href="#") Все про товар
                  li
                    a(href="#") Характеристики
                  li.active
                    a(href="#") Опис
                  li
                    a(href="#") Відгуки 
                      span 15
                  li
                    a(href="#") Галерея
    .prod__main
      .container
        .row.row--reorder
          .col-xl-7
            .desc
              h2.mb-35 Опис
              p За маркою New Holland, що заслужила визнання у всіх частинах світу, стоять досвід і знання, накопичені компаніями, що змінили вигляд світової сільськогосподарської індустрії. Компанія заснована в 1895 році, має 69 заводів і представництва більш ніж в 170 країнах світу!
              p Комбайни New Holland займають 40% продажів на ринку України і є абсолютним лідером за підсумками 2014 года!
              
              h4 Новий комбайн CR 9.80 - вища якість зерна при максимальній продуктивності.
              h4.mb-0 Нова ергономічна кабіна Harvest Suite Ultra
              p.mt-0 Больше площадь остекления 6,3 м2 (2014-5,9 м2). Лучше шумоизоляция кабины 73 дБ(А) (2014-74дБ(А)). Больший внутренний объем 3,7м3 (3,1 м3). Лучше пакет рабочего и основного освещения. Панорамные большие двойные зеркала заднего вида. Переносной холодильник, размещенный под сидением инструктора.
        
              h4 Новое эргономичное рабочее место оператора.
              .clearfix
                h4.mb-0 Цветной сенсорный монитор IntelliViev IV
                p.mt-10
                  +imggen('desc_1.jpg', 'float-left')
                  | Обновленная рукоятка CommandGrip: учитывает прилагаемое усилие. Обновленные интуитивно понятные кнопки управления функциями комбайна. Интуитивное и удобное управление основными параметрами комбайна. Быстрая настройка машины, увеличение производительности.
              .clearfix
                h4.mb-0 Пакет LED освещения на главных фарах
                p.mt-10
                  +imggen('desc_2.jpg', 'float-left')
                  | Вспомогательное освещение 4 основные фары и 14 вспомогательных фонарей спереди комбайна + сервисное освещение и выгрузной зоны под шнеком.
              .clearfix
                h4.mb-0 Автоматическая система регулировки скорости вентилятора очистки Opti-Fan
                p.mt-10
                  +imggen('desc_3.jpg', 'float-left')
                  | Вспомогательное освещение 4 основные фары и 14 вспомогательных фонарей спереди комбайна + сервисное освещение и выгрузной зоны под шнеком.
              .clearfix
                h4.mb-0 Комбайн постоянно использует всю свою пропускную способность
                p.mt-10
                  +imggen('desc_4.jpg', 'float-left')
                  | Предотвращение чрезмерных нагрузок. На приводе наклонной камеры/жатки установлен датчик потока скошенной массы. Измерение нагрузки на приводной ремень. Автоматическая регулировка скорости движения комбайна: <br>- Низкая урожайность: скорость движения комбайна увеличивается;
                p - Высокая урожайность: скорость комбайна уменьшается.
                p – Режим МОЩНОСТИ ДВИГАТЕЛЯ: (При достижении 95% мощности двигателя повышение скорости движения прекращается / Максимальное увеличение скорости движения до 5 км/ч к предустановленной величине)
                p – Режим ПРОИЗВОДИТЕЛЬНОСТИ РАБОТЫ КОМБАЙНА: (Датчик потока скошенной массы + потери на роторе/решетах/. Во время разгрузки на ходу скорость движения остается постоянной, независимо от загрузки наклонной камеры)

              h4.mb-0.mt-0 Увеличенный объем бункера - 12500 литров
              p.mt-0 Больше объем бункера на 1000 литров. Больше времени пребывания в поле на уборке урожая. Экономия средств на логистике, выше эффективность, выше продуктивность.
        

              h4.mb-0 Скорость выгрузки 126 л.с.
              p.mt-0 Меньшее время выгрузки бункера, больше эффективность машины.
        
              h4.mb-0 Выгрузной шнек укомплектован угловым рукавом
              .row
                .col-sm-6
                  +imggen('desc_5.jpg', '')
                .col-sm-6
                  +imggen('desc_6.jpg', '')
              p.mt-0 Удлиняет шнек на 0,9 м. Дальше зона разгрузки - возможность агрегатирования с широкими жатками и больше места для маневра транспортных средств.


          .col-xl-5
            +short-info(true)
  

  +similar     






















































//- 