extends ../layout/main

block head
  - var title = 'Виробник New Holland'
  - var bodyClass = ''
block content
  +bred

  .container
    .row
      .col-12
        h1 !{title}
  .prod
    .prod__header
      .prod__header-top
        .container
          .row
            .col-sm-6
              +rating('15 відгуків')
      .prod__header-nav
        .container
          .row
            .col-12
              .prod__header-nav-box
                ul
                  li
                    a(href="#") Про виробника
                  li.active
                    a(href="#") Відгуки
                      span 15
                  li
                    a(href="#") Товари
    .prod__main
      .container
        .row.row--reorder
          .col-xl-7
            .reviews
              h2.mb-35 Відгуки
              .reviews__header
                .reviews__write
                  h4 Залиште свій відгук про цей товар
                  a.btn.btn--empty(href="#") Залишити відгук
                select
                  option(value="#") Спочатку нові
                  option(value="#") Спочатку нові 2
                  option(value="#") Спочатку нові 23

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.

              .prod__info-block.prod__info-block--review
                .review__head
                  b Мікеланджело Буонарроті
                  .review__head-box
                    +rating('8 вересня 2020')
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.67 17.47l-8.05-14a3 3 0 00-5.24 0l-8 14A3 3 0 003.94 22h16.12a3 3 0 002.61-4.53zm-1.73 2a1 1 0 01-.88.51H3.94a1 1 0 01-.88-.51 1 1 0 010-1l8-14a1 1 0 011.78 0l8.05 14a1 1 0 01.05 1.02v-.02z" fill="#BAC2BD"/><path d="M11.444 16.169a1 1 0 111.111 1.662 1 1 0 01-1.11-1.662zM11.293 8.293A1 1 0 0113 9v4a1 1 0 01-2 0V9a1 1 0 01.293-.707z" fill="#EF6023"/></svg>
                .review__desc Ідейні міркування вищого порядку, а також постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам. Повсякденна практика показує, що подальший розвиток різних форм діяльності забезпечує широкому колу (фахівців) участь у формуванні.


              .more-rev
                a.btn.btn--long(href="#") Показати ще
                  +svg('load')

          .col-xl-5
            .prod__short-info
              .prod__info-block.prod__info-block--manufact
                .row
                  .col
                    | Виробник:
                    b New Holland
                    +rating('<a href="#">136 відгуків</a>')
                    .form-row
                      .col
                        a.btn.btn--sm.btn--empty(href="#") Товари виробника
                  .col-auto
                    .prod__img: +imgcon('part_1.png')

  +similar('Товари виробника')






















































//-
