extends ../layout/main

block head
  - var title = 'Про компанію'
  - var bodyClass = ''
block content
  +bred
  .container
    .row
      .col-12
        h1 !{title}


  section.section.pages-nav-container
    .container
      .row
        .col-xl-3
          +pages-nav
        .col-xl-9
          h2.mb-30 Місія, кодекс, політика, документи
          +imggen('tip_1.jpg')
          p Завдання організації, особливо ж склалася структура організації відіграє важливу роль у формуванні істотних фінансових і адміністративних умов. З іншого боку постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам.
          p Повсякденна практика показує, що склалася структура організації забезпечує <a href="#">широкому колу (фахівців) участь у формуванні</a> системи навчання кадрів, відповідає нагальним потребам. Значимість цих проблем настільки очевидна, що постійне інформаційно-пропагандистських забезпечення
          p Нашої діяльності вімагають від нас аналізу істотніх фінансових и адміністратівніх умів. Повсякдення практика показує, что зміцнення та розвиток структури вімагають від нас аналізу системи навчання кадрів, відповідає нагальне буде потрібно.
          .docs
            h3 Документи
            .docs__list
              .docs__list-item
                .docs__list-item-title
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 16a1 1 0 00-1 1v5a1 1 0 102 0v-1h.5a2.5 2.5 0 000-5H9zm1.5 3H10v-1h.5a.5.5 0 010 1zm3.5-2a1 1 0 011-1h.5a3.5 3.5 0 110 7H15a1 1 0 01-1-1v-5zm2 3.915a1.5 1.5 0 000-2.83v2.83zM20 22v-5a1 1 0 011-1h3a1 1 0 010 2h-2v1h2a1 1 0 010 2h-2v1a1 1 0 01-2 0zM6 5v8H5a2 2 0 00-2 2v9a2 2 0 002 2h1v1a3 3 0 003 3h14a3 3 0 003-3v-1h1a2 2 0 002-2v-9a2 2 0 00-2-2h-1V9.828a3 3 0 00-.879-2.12l-4.828-4.83A3 3 0 0018.172 2H9a3 3 0 00-3 3zm3-1h7v5a3 3 0 003 3h5v1H8V5a1 1 0 011-1zM8 27v-1h16v1a1 1 0 01-1 1H9a1 1 0 01-1-1zM24 9.828V10h-5a1 1 0 01-1-1V4h.172a1 1 0 01.707.293l4.828 4.828a1 1 0 01.293.707zM5 15h22v9H5v-9z" fill="#001E0E"/></svg>
                  | Документ 1
                a.btn(href="#") Завантажити
              .docs__list-item
                .docs__list-item-title
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 16a1 1 0 00-1 1v5a1 1 0 102 0v-1h.5a2.5 2.5 0 000-5H9zm1.5 3H10v-1h.5a.5.5 0 010 1zm3.5-2a1 1 0 011-1h.5a3.5 3.5 0 110 7H15a1 1 0 01-1-1v-5zm2 3.915a1.5 1.5 0 000-2.83v2.83zM20 22v-5a1 1 0 011-1h3a1 1 0 010 2h-2v1h2a1 1 0 010 2h-2v1a1 1 0 01-2 0zM6 5v8H5a2 2 0 00-2 2v9a2 2 0 002 2h1v1a3 3 0 003 3h14a3 3 0 003-3v-1h1a2 2 0 002-2v-9a2 2 0 00-2-2h-1V9.828a3 3 0 00-.879-2.12l-4.828-4.83A3 3 0 0018.172 2H9a3 3 0 00-3 3zm3-1h7v5a3 3 0 003 3h5v1H8V5a1 1 0 011-1zM8 27v-1h16v1a1 1 0 01-1 1H9a1 1 0 01-1-1zM24 9.828V10h-5a1 1 0 01-1-1V4h.172a1 1 0 01.707.293l4.828 4.828a1 1 0 01.293.707zM5 15h22v9H5v-9z" fill="#001E0E"/></svg>
                  | Документ 2
                a.btn(href="#") Завантажити
              .docs__list-item
                .docs__list-item-title
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 16a1 1 0 00-1 1v5a1 1 0 102 0v-1h.5a2.5 2.5 0 000-5H9zm1.5 3H10v-1h.5a.5.5 0 010 1zm3.5-2a1 1 0 011-1h.5a3.5 3.5 0 110 7H15a1 1 0 01-1-1v-5zm2 3.915a1.5 1.5 0 000-2.83v2.83zM20 22v-5a1 1 0 011-1h3a1 1 0 010 2h-2v1h2a1 1 0 010 2h-2v1a1 1 0 01-2 0zM6 5v8H5a2 2 0 00-2 2v9a2 2 0 002 2h1v1a3 3 0 003 3h14a3 3 0 003-3v-1h1a2 2 0 002-2v-9a2 2 0 00-2-2h-1V9.828a3 3 0 00-.879-2.12l-4.828-4.83A3 3 0 0018.172 2H9a3 3 0 00-3 3zm3-1h7v5a3 3 0 003 3h5v1H8V5a1 1 0 011-1zM8 27v-1h16v1a1 1 0 01-1 1H9a1 1 0 01-1-1zM24 9.828V10h-5a1 1 0 01-1-1V4h.172a1 1 0 01.707.293l4.828 4.828a1 1 0 01.293.707zM5 15h22v9H5v-9z" fill="#001E0E"/></svg>
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi earum voluptatem maiores dolores consequuntur consequatur aliquid, assumenda non, modi nesciunt eum voluptate sapiente. Blanditiis non, officia atque totam quae necessitatibus.
                a.btn(href="#") Завантажити

 



























































//- 