extends ../layout/main

block head
  - var title = 'Партнери'
  - var bodyClass = ''
block content
  +bred
  .container
    .row
      .col-xl-6
        h1 !{title}
        p Agroresurs прагне спростити сільгоспвиробництво для своїх клієнтів. У нас Ви маєте можливість придбати товари, яких немає в звичайних магазинах, це товари від відомих світових та українських виробників. Список наших партнерів постійно збільшується.


  section.section.partners-page.pt-0
    .container
      .row
        .col-12
          .partners-page__filter
            .partners-page__filter-controll
              p Ми вже співпрацюємо з такими брендами, як:
              select
                option(value='all' data-display="Всі партнери") Всі партнери
                option(value='mech') Техніка
                option(value='agro') Агротехнології
                option(value='parts') Запчастини
                option(value='serv') Сервіс
            .partners-page__filter-box
              .filter__box-item(data-fcategory='agro')
                figure
                  .filter__box-item-img
                    +imgcon('part_1.png')
                  figcaption Сільськогосподарська техніка
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_2.png')
                  figcaption Техніка для обробки ґрунту 
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_3.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_4.png')
                  figcaption Посівний матеріал і засоби захисту рослин 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_5.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_6.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='serv')
                figure
                  .filter__box-item-img
                    +imgcon('part_7.png')
                  figcaption Техніка для обробки ґрунту 
              .filter__box-item(data-fcategory='serv')
                figure
                  .filter__box-item-img
                    +imgcon('part_8.png')
                  figcaption Посівний матеріал і засоби захисту рослин 
              .filter__box-item(data-fcategory='agro')
                figure
                  .filter__box-item-img
                    +imgcon('part_1.png')
                  figcaption Сільськогосподарська техніка
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_2.png')
                  figcaption Техніка для обробки ґрунту 
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_3.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_4.png')
                  figcaption Посівний матеріал і засоби захисту рослин 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_5.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_6.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='serv')
                figure
                  .filter__box-item-img
                    +imgcon('part_7.png')
                  figcaption Техніка для обробки ґрунту 
              .filter__box-item(data-fcategory='serv')
                figure
                  .filter__box-item-img
                    +imgcon('part_8.png')
                  figcaption Посівний матеріал і засоби захисту рослин 
              .filter__box-item(data-fcategory='agro')
                figure
                  .filter__box-item-img
                    +imgcon('part_1.png')
                  figcaption Сільськогосподарська техніка
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_2.png')
                  figcaption Техніка для обробки ґрунту 
              .filter__box-item(data-fcategory='mech')
                figure
                  .filter__box-item-img
                    +imgcon('part_3.png')
                  figcaption Сільськогосподарська техніка 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_4.png')
                  figcaption Посівний матеріал і засоби захисту рослин 
              .filter__box-item(data-fcategory='parts')
                figure
                  .filter__box-item-img
                    +imgcon('part_5.png')
                  figcaption Сільськогосподарська техніка 

            .partners-page__filter-action
              a.btn.btn--long(href="#") Показати ще
                +svg('load')

  section.section.partners-aspect
    .container
      .row
        .col-xl-6
          h2 Вигоди бути партнером Agroresurs
          .benefit
            .benefit__item
              .benefit__item-ico
                <svg width="145" height="99" viewBox="0 0 145 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M125.203 58.896C126.375 58.7061 129.908 54.2569 131.087 54.2569C132.262 54.2569 137.304 55.4223 137.304 54.458C137.304 53.4862 138.991 50.1987 138.644 49.2306C138.311 48.27 136.633 46.9222 136.967 45.9505C137.304 44.9862 139.654 44.9862 139.654 43.8246C139.654 42.6629 137.809 42.0821 137.809 41.3077C137.809 40.5407 140.163 39.1855 139.991 37.6403C139.823 36.0989 137.809 35.8979 135.623 34.5464C133.437 33.1874 131.245 33.772 129.231 32.614C127.217 31.4561 123.011 32.2268 123.011 31.4561C123.011 30.6854 120.327 28.1686 119.65 26.8133C118.98 25.4655 116.794 26.2325 115.45 27.2005C114.103 28.1723 112.925 28.5558 111.584 27.5915C110.241 26.6197 109.065 25.0746 107.887 25.6517C106.708 26.2288 104.522 25.849 105.027 23.9055C105.529 21.9732 102.845 17.7288 101.666 17.1517C100.491 16.5671 96.9584 17.5351 96.1198 15.6065C95.2747 13.6668 93.7625 12.1179 94.436 10.7738C95.103 9.41861 94.2676 5.7401 93.4258 4.19498C92.5807 2.65358 88.3843 2.84719 87.2089 3.42428C86.0335 4.00137 83.3395 2.84719 82.1609 3.62161C80.9823 4.39603 80.3152 5.7401 78.6315 5.7401C77.6957 5.7401 77.0708 5.59862 76.5592 4.74601C74.7394 5.68798 71.686 5.87786 71.686 5.87786C71.686 5.87786 67.195 9.9957 67.195 11.5408C67.195 13.0822 66.9813 15.6624 65.8544 14.3779C64.7341 13.0897 60.0293 13.0822 58.909 13.8641C57.7822 14.6348 55.9948 10.7701 53.9776 12.0583C51.9635 13.3466 49.2728 10.2563 49.0429 11.5408C48.8227 12.8365 45.9085 11.7977 43.8913 10.7701C41.8773 9.7388 38.2896 11.2876 36.9426 9.47818C35.5956 7.66871 26.8563 7.67243 23.9421 7.67243C21.028 7.67243 20.3577 9.47818 19.0107 11.0233C17.7965 12.4269 16.3879 12.1403 14.9568 12.0621C15.083 13.3652 15.3032 14.5231 15.5914 15.0146C16.2617 16.1762 19.4575 21.7796 18.6157 23.522C17.777 25.2608 16.2617 25.2608 15.2579 26.6123C14.2476 27.9638 8.36425 33.9618 8.19588 34.9187C8.0275 35.8867 9.20936 40.1386 8.36425 40.913C7.52886 41.6837 5 45.7457 5 47.2871C5 48.836 6.85212 50.9619 8.36425 51.5427C8.9989 51.7922 9.41012 52.1384 9.59792 52.548C10.7733 52.3618 11.8483 52.2538 12.5153 52.2538C13.6357 52.2538 18.5671 53.8101 20.1278 53.8101C21.7015 53.8101 23.9454 54.5771 24.6189 55.3515C25.2956 56.1222 26.8563 55.601 27.9799 54.3165C29.1035 53.0357 30.4472 53.8101 31.7942 53.8101C33.1315 53.8101 35.3787 52.5107 36.0489 51.23C36.7192 49.9492 43.4477 47.8791 45.235 47.6148C47.0289 47.3653 49.7196 51.4794 51.2868 51.4794C52.8605 51.4794 55.7682 52.7751 56.6683 56.1222C57.5652 59.4731 60.2528 63.6021 61.3731 64.8792C62.4902 66.1748 63.1637 69.522 63.1637 70.5533C63.1637 71.5809 60.6996 70.2964 58.0056 69.522C55.3246 68.7476 55.0947 71.8452 55.0947 73.3866C55.0947 74.9355 51.2868 80.3453 50.6133 81.3766C49.9398 82.4116 51.9635 83.1786 53.5275 83.4355C54.1945 83.5435 56.8917 81.3766 57.7822 81.3766C58.1481 81.3766 59.2619 82.3707 60.4567 83.5398C60.2009 79.5076 60.9262 79.7347 64.0541 77.0019C67.3083 74.1685 67.6418 68.8816 70.556 68.2375C73.4702 67.5896 74.7006 66.0408 78.9618 66.8115C83.2197 67.5896 76.8376 70.6762 79.7421 72.4819C82.6595 74.2914 91.6255 71.9681 92.0755 74.5446C92.5224 77.121 81.7594 79.7049 81.9893 80.9931C82.2127 82.2776 87.7108 83.5658 89.6114 84.9769C91.5186 86.4029 89.0513 90.3904 89.9482 91.6861C90.8451 92.9743 93.756 91.9355 96.11 90.0069C98.4641 88.0709 100.362 88.715 103.392 86.4029C106.423 84.0796 112.695 86.1385 113.479 84.7275C114.259 83.3089 111.681 81.8904 105.856 82.4116C100.031 82.9217 99.6945 76.6072 99.6945 75.3153C99.6945 74.0308 105.746 68.7438 109.217 68.3678C112.695 67.9769 115.493 66.8115 118.857 65.0206C120.21 64.2946 122.59 63.5537 125.019 63.0213C124.669 61.2081 124.199 59.0635 125.203 58.896Z" fill="#009846"/>
                  </g>
                  <defs>
                  <filter id="filter0_d" x="0.53719" y="0.768595" width="143.926" height="98.1818" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                  <feOffset dy="2.23141"/>
                  <feGaussianBlur stdDeviation="2.23141"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                  </filter>
                  </defs>
                  </svg>
              .benefit__item-desc Регіональні представництва по всій території України

            .benefit__item
              .benefit__item-ico
                <svg width="94" height="92" viewBox="0 0 94 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M56.258 55.0291L64.0497 41.5541C64.0497 41.5541 63.6372 41.1875 62.9955 40.7291L56.258 35.4125L56.2122 35.5041C56.3497 34.4041 56.4413 33.35 56.4413 32.25C56.4413 31.15 56.3497 30.0958 56.1663 29.0875L56.2122 29.1333L64.0497 22.9916L56.258 9.47079L47.0455 13.1833V13.2291C45.3497 11.9458 43.5163 10.8458 41.5455 10.0208H41.5913L40.2163 0.166626H24.5872L23.1663 10.0208H23.2122C21.2413 10.8458 19.408 11.9458 17.7122 13.2291V13.1833L8.49967 9.47079L0.708008 22.9916L8.49967 29.1333L8.54551 29.0875C8.40801 30.0958 8.31634 31.15 8.31634 32.25C8.31634 33.35 8.40801 34.4041 8.54551 35.5041L8.49967 35.4125L1.76218 40.7291C1.16634 41.1875 0.708008 41.5541 0.708008 41.5541L8.49967 55.0291L17.758 51.3625L17.6663 51.225C19.3622 52.5541 21.1955 53.6541 23.2122 54.4791H23.1663L24.5872 64.3333H40.1705C40.1705 64.3333 40.2622 63.7375 40.3538 62.9583L41.5913 54.4791H41.5455C43.5622 53.6541 45.3955 52.5541 47.0913 51.225L46.9997 51.3625L56.258 55.0291ZM32.3788 41.4166C27.3372 41.4166 23.2122 37.2916 23.2122 32.25C23.2122 27.2083 27.3372 23.0833 32.3788 23.0833C37.4205 23.0833 41.5455 27.2083 41.5455 32.25C41.5455 37.2916 37.4205 41.4166 32.3788 41.4166ZM88.158 73.225L88.1122 73.2708C88.2038 72.5833 88.2497 71.8958 88.2497 71.2083C88.2497 70.5208 88.2038 69.8333 88.0663 69.1916L88.1122 69.2375L93.1538 65.2958L88.158 56.5875L82.2455 58.9708V59.0166C81.1455 58.1916 79.9997 57.5041 78.7163 56.9541H78.7622L77.8455 50.5833H67.808L66.8913 56.9083H66.9372C65.6538 57.4583 64.508 58.1458 63.408 58.9708V58.925L57.4955 56.5416L52.4997 65.25L57.4955 69.1916L57.5413 69.1458C57.4497 69.7875 57.4038 70.475 57.4038 71.1625C57.4038 71.85 57.4497 72.5375 57.5413 73.2708L57.4955 73.225L53.1872 76.6625C52.8205 76.9375 52.4997 77.2125 52.4997 77.2125L57.4955 85.875L63.4538 83.5375L63.408 83.4458C64.508 84.3166 65.6997 85.0041 66.983 85.5541H66.9372L67.8538 91.8791H77.8913C77.8913 91.8791 77.9372 91.5125 78.0288 91.0083L78.808 85.5541H78.7622C80.0455 85.0041 81.2372 84.3166 82.3372 83.4458L82.2914 83.5375L88.2497 85.875L93.2455 77.2125C93.2455 77.2125 92.9705 76.9833 92.558 76.6625L88.158 73.225ZM72.8038 77.1208C69.5497 77.1208 66.8913 74.4625 66.8913 71.2083C66.8913 67.9541 69.5497 65.2958 72.8038 65.2958C76.058 65.2958 78.7163 67.9541 78.7163 71.2083C78.7163 74.4625 76.058 77.1208 72.8038 77.1208Z" fill="#009846"/>
                </svg>
              .benefit__item-desc Одна з кращих сервісних служб в Україні

            .benefit__item
              .benefit__item-ico
                <svg width="124" height="141" viewBox="0 0 124 141" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.6432 46.3538C31.9416 47.3877 34.6001 49.16 36.6186 51.6708C38.637 54.1815 39.6462 57.2092 39.6462 60.7538C39.6462 66.3169 37.8247 70.6 34.1816 73.6031C30.5386 76.6062 26.0339 78.1077 20.6678 78.1077C16.3847 78.1077 12.5693 77.1231 9.22163 75.1538C5.92317 73.1846 3.53548 70.28 2.05856 66.44L13.5786 59.8677C14.6616 63.4615 17.0247 65.2585 20.6678 65.2585C22.5386 65.2585 23.9662 64.8154 24.9509 63.9292C25.9847 63.0431 26.5016 61.8615 26.5016 60.3846C26.5016 58.9077 25.9847 57.7508 24.9509 56.9138C23.9662 56.0277 22.5386 55.5846 20.6678 55.5846H17.8616L12.7662 48.0523L21.037 37.9354H3.68317V25.3077H37.2832V35.72L28.6432 46.3538ZM65.2599 41.7754C70.2814 42.4154 74.2937 44.3846 77.2968 47.6831C80.2999 50.9323 81.8014 54.9938 81.8014 59.8677C81.8014 65.2338 80.0045 69.6154 76.4107 73.0123C72.8168 76.4092 68.0907 78.1077 62.2322 78.1077C56.3737 78.1077 51.6476 76.4092 48.0537 73.0123C44.4599 69.6154 42.663 65.2338 42.663 59.8677C42.663 55.8308 43.7461 52.2615 45.9122 49.16L61.1984 25.3077H76.1891L65.2599 41.7754ZM62.2322 65.9969C64.0537 65.9969 65.5553 65.4554 66.7368 64.3723C67.9676 63.2892 68.583 61.7877 68.583 59.8677C68.583 57.8985 67.9922 56.3723 66.8107 55.2892C65.6291 54.2062 64.103 53.6646 62.2322 53.6646C60.3614 53.6646 58.8353 54.2062 57.6537 55.2892C56.4722 56.3723 55.8814 57.8985 55.8814 59.8677C55.8814 61.8369 56.4722 63.3631 57.6537 64.4462C58.8353 65.48 60.3614 65.9969 62.2322 65.9969ZM122.902 77H109.167L98.6805 61.2708V77H86.422V40.0769H98.6805V55.5108L108.207 40.0769H122.385L109.979 58.5385L122.902 77Z" fill="#009846"/>
                <path d="M24.3598 107V127H17.9598V117.36L13.6798 124H12.9598L8.71976 117.4V127H2.27976V107H8.71976L13.3198 114.2L17.9598 107H24.3598ZM34.2173 104.24C33.4706 104.987 32.5773 105.36 31.5373 105.36C30.4973 105.36 29.5906 104.987 28.8173 104.24C28.0706 103.467 27.6973 102.56 27.6973 101.52C27.6973 100.48 28.0706 99.5867 28.8173 98.84C29.5906 98.0933 30.4973 97.72 31.5373 97.72C32.5773 97.72 33.4706 98.0933 34.2173 98.84C34.9906 99.5867 35.3773 100.48 35.3773 101.52C35.3773 102.56 34.9906 103.467 34.2173 104.24ZM28.2173 127V107H34.8573V127H28.2173ZM48.327 127.56C45.287 127.56 42.7536 126.547 40.727 124.52C38.7003 122.493 37.687 119.987 37.687 117C37.687 114.013 38.7003 111.507 40.727 109.48C42.7536 107.453 45.287 106.44 48.327 106.44C50.3003 106.44 52.087 106.907 53.687 107.84C55.3136 108.773 56.567 110.027 57.447 111.6L51.767 114.88C51.047 113.573 49.887 112.92 48.287 112.92C47.167 112.92 46.2336 113.307 45.487 114.08C44.7403 114.827 44.367 115.8 44.367 117C44.367 118.2 44.7403 119.187 45.487 119.96C46.2336 120.707 47.167 121.08 48.287 121.08C49.9403 121.08 51.1003 120.413 51.767 119.08L57.447 122.36C56.567 123.96 55.3136 125.227 53.687 126.16C52.087 127.093 50.3003 127.56 48.327 127.56ZM76.6729 107V127H70.1129V121.32H69.1929L65.3929 127H57.8329L62.5129 120.32C61.3662 119.68 60.4729 118.827 59.8329 117.76C59.2196 116.667 58.9129 115.493 58.9129 114.24C58.9129 112.16 59.5929 110.44 60.9529 109.08C62.3396 107.693 64.2062 107 66.5529 107H76.6729ZM67.2729 112.6C66.7129 112.6 66.2596 112.76 65.9129 113.08C65.5662 113.373 65.3929 113.8 65.3929 114.36C65.3929 114.893 65.5662 115.307 65.9129 115.6C66.2596 115.893 66.7129 116.04 67.2729 116.04H70.1129V112.6H67.2729ZM99.082 120.72H102.482V132.36H96.082V127H80.522V107H87.162V120.72H92.442V107H99.082V120.72ZM114.934 112.64C117.334 112.64 119.241 113.293 120.654 114.6C122.067 115.88 122.774 117.613 122.774 119.8C122.774 122.013 122.067 123.773 120.654 125.08C119.267 126.36 117.361 127 114.934 127H105.014V107H111.654V112.64H114.934ZM114.534 121.44C115.067 121.44 115.494 121.293 115.814 121C116.134 120.707 116.294 120.307 116.294 119.8C116.294 119.32 116.134 118.933 115.814 118.64C115.494 118.347 115.067 118.2 114.534 118.2H111.654V121.44H114.534Z" fill="#009846"/>
                <rect x="1" y="90" width="122" height="5" fill="#009846"/>
                </svg>
              .benefit__item-desc 36 000 відвідувачів на сайті в місяць

        .col-xl-6.mt-70.mt-xl-0
          h2 Стати партнером
          p Якщо у Вас є пропозиція щодо партнерства телефонуйте: 
            a(href="tel:+380504875562") +38 (050) 487 55 62
            br
            | Надсилайте пропозиції на пошту: 
            a(href="mailto:v.kolechkina@agroresurs-a.com") v.kolechkina@agroresurs-a.com
          p Або заповніть форму нижче і ми зв'яжемося з Вами:
          form(action="#").become-part-form
            .form-row
              .col-md-6
                .form__item
                  label(for="inp_1") Ім’я
                  input(type='text', id="inp_1", required='', name='Ім’я', placeholder='')
                .form__item
                  label(for="inp_2") Email*
                  input(type='email', id="inp_2", required='', name='Email*', placeholder='')
                .form__item
                  label(for="inp_3") Номер телефона*
                  input(type='tel', id="inp_3", required='', name='Номер телефона*', placeholder='')
              .col-md-6.mt-20.mt-md-0
                .form__item.form__item--textarea
                  label(for="inp_4") Textarea
                  textarea(name="Textarea", id="inp_4", cols="30", rows="10")
              .col-12
                .form__action
                  button.btn.btn--long Надіслати

















































































//- 