extends ../layout/main

block head
  - var title = 'Про компанію'
  - var bodyClass = ''
block content
  +bred
  .container
    .row
      .col-12
        h1 !{title}


 
  section.section.pages-nav-container
    .container
      .row
        .col-xl-3
          +pages-nav


        .col-xl-9
          h2 Відгуки
          .articles.articles--rev
            .articles__item
              a.articles__item-media
                video(controls="" controlsList="nodownload")
                  source(src="video/video.mp4" type="video/mp4")
              .articles__item-content
                .articles__item-title Мікеланджело Буонарроті
                .articles__item-position Агроресурс
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .articles__item-date 23.02.2020

            .articles__item
              a.articles__item-media
                video(controls="" controlsList="nodownload")
                  source(src="video/video.mp4" type="video/mp4")
              .articles__item-content
                .articles__item-title Мікеланджело Буонарроті
                .articles__item-position Агроресурс
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .articles__item-date 23.02.2020
            .articles__item
              a.articles__item-media
                video(controls="" controlsList="nodownload")
                  source(src="video/video.mp4" type="video/mp4")
              .articles__item-content
                .articles__item-title Мікеланджело Буонарроті
                .articles__item-position Агроресурс
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .articles__item-date 23.02.2020

            .articles__item
              a.articles__item-media
                video(controls="" controlsList="nodownload")
                  source(src="video/video.mp4" type="video/mp4")
              .articles__item-content
                .articles__item-title Мікеланджело Буонарроті
                .articles__item-position Агроресурс
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .articles__item-date 23.02.2020
            .articles__item
              a.articles__item-media
                video(controls="" controlsList="nodownload")
                  source(src="video/video.mp4" type="video/mp4")
              .articles__item-content
                .articles__item-title Мікеланджело Буонарроті
                .articles__item-position Агроресурс
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .articles__item-date 23.02.2020


























































//- 