extends ../layout/main

block head
  - var title = 'Техніка'
  - var bodyClass = ''
block content
  +bred

  .container
    .row
      .col-12
        h1 !{title}
        .tech-category
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="153" height="66" viewBox="0 0 153 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 28.7C5.6 31.4 5 34.1 5 37c0 .4.1.6.5.6 1.2.1 2.5.3 3.7.4 1.9.2 3.8.4 5.7.7 1.8.2 3.7.4 5.5.6 2.5.3 4.9.6 7.4.9 1.8.2 3.5.3 5.3.6 2 .3 4.1.5 6.1 1 2.3.6 4.2 2 5.8 3.8 1.9 2.1 3.2 4.5 3.8 7.2 0 .2.1.3.2.4v.3H60.6c1.7-.1 3.4 0 5 0H76V50c.1-2.9.8-5.7 2.3-8.2 1.5-2.6 3.6-4.7 6.2-6.2 1.6-.9 3.3-1.6 5.1-2.1 1.8-.5 3.5-.7 5.3-.7h15.2c1.1.3 2.2-.4 2.5-1.5l.4-1.5c1-2.7 4.1-16.8 4.7-19.6.2-1.1.3-2.3.4-3.5.1-.7-.4-1.1-1.1-1.2-1.5-.2-3-.4-4.4-.7-1.4-.2-2.9-.4-4.3-.6-2.1-.3-4.1-.6-6.2-.9-2.8-.4-5.7 2.5-8.5 2.1-.4-.1-.6-.2-.6-.7V2.6c0-.6-.3-.9-.9-.9-6.3-.4-12.6-.5-18.8-.3-2.3.1-4.7.3-6.9.8-2.1.5-3.6 1.3-4.9 4.3H42.1V8c-1.3.6-2.7 1.4-3.4 2.1H47c.2 0 .3.1.5.1H77c1.3 0 2.4.3 3 1.5.1.2.3.5.3.8 0 1.1.1 2.2-.2 3.3-.2 1.1-1.5 1.8-2.7 1.8h-43c-1 0-1 .1-1.2 1-.2.9-.2.9-1 .9H15.6c-1.2 0-2.2.4-3.1 1.3C9.8 23 8 25.7 6.7 28.7zm100.2 2.2c1.3-6.6 2.5-16.4 3.8-22.9 1.8.1 3.4.2 5 .4.1 0 .1.1.2.1-.2 1.2-.3 2.4-.5 3.6-.4 1.9-3.3 15.3-4.7 18.4-.1.2-.2.4-.4.4h-3.4zm-11.4-.8V16.8v-6c0-.5.1-.6.6-.6 1.3.1 2.5-3.1 3.8-3 2 .1 4.1.3 6.1.4 1 .1 2.1.1 3.1.2.3 0 .5.1.5.5-.3 1.3-.5 2.7-.8 4-.3 1.7-.7 6.6-1 8.2-.4 2.2-.8 4.4-1.2 6.5-.2 1.1-.4 2.1-.6 3.2-.1.5-.3.6-.7.6h-9c-.6.1-.8-.1-.8-.7zM107.9 41.5c3.2 1.9 6.4 3.8 9.7 5.8.5-1.3 1.6-1.5 2.8-1.4h1c.2 0 .5-.1.7-.2 1.2-.9 2.4-1.8 3.5-2.8 1.6-1.3 3.3-1.9 5.4-1.7 1.4.2 2.8.3 4.2.4.3 0 .4-.1.4-.4v-1.5c0-.8.3-1.3 1-1.7 2.1-1.2 4.2-2.4 6.2-3.6.8-.5 1.5-.5 2.3 0 1.9 1.1 3.7 2.2 5.6 3.2 1.2.6 1.7 1.5 1.6 2.8-.1 2.2 0 4.4 0 6.6 0 .8-.4 1.5-1.1 1.9-1.8 1.1-3.7 2.1-5.5 3.2-1.1.7-2.1.9-3.3.1-1.9-1.2-3.9-2.3-5.9-3.4-.6-.4-1-.9-.9-1.7v-2.6c0-.5-.2-.7-.6-.7-1.5-.1-2.9-.3-4.4-.4-.6 0-1.4 0-1.9.3-1 .5-2 1.2-3 1.9.8.2 1.6.3 2.2.6 2.3 1.2 4.5 2.5 6.7 3.8.2.1.5.3.7.4l1.5.9c.7.4 1.3.8 2 1.2l.3.2c2.8 1.6 5.5 3.2 8.3 4.8-1.7.7-3.2 1.4-4.8 1.9-.9.3-1.7.8-2.7.7-1.7-.2-3.4-.2-5.2-.3-3.4-.1-6.8-.3-10.3-.4-.6 0-1.3-.2-1.8-.6-1.3-1.2-2.8-2.3-4.1-3.4-.4-.4-.7-.8-.9-1.3-.2-.4-.3-.6-.8-.6h-6.7c1.3-4.4.4-8.3-2.2-12z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M79.5 51.3c-.7.3-.7.3-.5 1.7h.6c.1.4.3.8.4 1.3 0 .2 0 .5-.2.6-.5.5-.1.9.1 1.3.1.2.4.2.7.3 0-.1.1-.1.1-.2.2.3.3.7.6 1 .3.4.4.8-.2 1.1.3.4.5.7.7 1 .1.1.3.2.4.2.4-.3.6 0 .9.3.2.2.4.3.5.5.1.1.2.3.1.4-.4.5.1.7.3 1 .4.4.7.6 1.1 0 .4.3.9.5 1.3.8.1.1.2.2.2.4 0 .4.7 1.1 1.2 1h.1c.7-1 1.3.2 2 0v.7c.4.1.8.2 1.2.2.1 0 .3-.2.5-.2.2-.1.4-.3.5-.3h.8c.5 0 .7.1.6.6 1.2.3 1.5.1 1.7-.6.3-.1.6-.1.9-.2.3-.1.5-.1.8-.2.4.6 1.1.7 1.6.2.1-.1.1-.2.1-.2.1-.2 0-.5.2-.6.4-.3.9-.5 1.4-.6.1 0 .3.3.6.4.4-.3.8-.5 1.2-.8 0-.3-.2-.6-.1-.7.3-.4.8-.7 1.2-1h.2c.8.6.9-.2 1.3-.5.1-.1 0-.5-.2-.8.3-.5.7-.9 1-1.4.7.2.7.2 1.4-1.1-.2-.1-.3-.3-.5-.4.2-.5.4-1.1.6-1.6h.7l.3-1.2c0-.1-.1-.4-.2-.4-.4-.1-.4-.4-.3-.7.1-.4.1-.8.2-1.3.2 0 .4-.1.6-.1.3-1.1.2-1.4-.6-1.6-.1-.5-.2-.9-.2-1.4 0-.2 0-.4.1-.5.5-.2.4-.6.3-.9-.1-.5-.3-.9-1-.6.1-.8-1-1.3-.1-2.1-.5-1.3-.5-1.3-1.3-1.1-.2-.3-.5-.6-.7-1-.2-.2-.4-.4-.1-.8.1-.1-.2-.6-.3-.8-.3-.3-.6-.8-1-.1-.5-.4-1-.8-1.4-1.2.1-.2.2-.3.3-.6-.4-.2-.7-.5-1.1-.7-.1-.1-.3 0-.4.1-.2.4-.5.3-.8.1-.1-.1-.2-.2-.4-.2-.6-.1-.9-.4-.7-1-.5-.2-.9-.3-1.4-.5-.2.4-.4.8-.9.5-.4-.3-1.4.3-1.2-.8-1.2-.4-1.5-.3-1.7.4-.5.1-1 .1-1.5.1-.1 0-.3-.1-.4-.2-.1-.5-.4-.4-.8-.3-.2.1-.4.1-.5.1-.1 0-.3.1-.3.2.1 1.1-1 .6-1.5 1-.1 0-.3 0-.4-.1-.1-.5-.5-.3-.7-.2-.3.2-1 .1-.8.8 0 .1-.1.4-.2.5-.4.3-.8.5-1.2.8-.5-.7-.8-.2-1.2.1-.4.3-.5.6-.1 1-.3.4-.7.8-1 1.1-.1.1-.2.2-.3.1-.8-.4-.9.3-1.3.7-.1.1-.1.2-.2.2.5.6.4 1-.5 2.1-.2 0-.3-.1-.6-.1-.2.4-.3.7-.4 1.1v.3c.7.4.3.9.2 1.3-.1.3-.1.5-.2.8-.2 0-.4 0-.6.1-.1.5-.1.9-.2 1.4 1.1.3.3 1.3.6 2zm7.4-.9c0-3.7 3.2-6.7 6.6-6.6 3.6-.1 6.6 3 6.6 6.6 0 3.7-2.9 6.6-6.6 6.6-3.6 0-6.6-2.8-6.6-6.6zM.8 19.2c1-1.2 2-2.4 3-3.5 2.5-2.9 5.5-4.3 9.4-4.3 10.3.1 20.7 0 31 0h33.4c.7 0 1.4.6 1.4 1.3 0 .8.1 1.6 0 2.3-.1.4-.4.8-.8 1.1-.3.2-.7.2-1.1.2H14.1c-.7.1-1.4.1-2.1.2-1.2.2-2.4.5-3.4 1.4-.8.7-1.5 1.6-2.2 2.4-.3.4-.7.6-1.2.5-.5-.1-1.1-.2-1.6-.2-.8-.1-1.7-.2-2.5-.4-.7-.2-.8-.5-.3-1zM24.2 55.1c-.2.3-.1.7-.2 1 .9.3 1.1 1.2.5 1.8.1.3.3.6.4.9.7 0 1.4 1.1 1 1.9.2.1.3.7.8.3.3.4.7.7.9 1.1.1.3.4 1 .7.8.6-.3.9.1 1.2.3.1 0 .1.1.2.1-.3.8.5.7.8 1 .6-.5 1.2-.4 1.6.3.2.2.6.3.9.4.5-.6 1.2-.6 1.8-.1.2.2.7.1 1 .2.3-.8 1-.9 1.6-.5.3.2 1-.1 1.1-.5.1-.5.9-.8 1.3-.6.4.2 1-.2 1-.7 0-.6.9-1.1 1.4-.8.2-.3.9-.5.5-1.1-.1-.2.7-1 .9-1 .5 0 .8-.6.6-1.1-.2-.4.2-1.2.6-1.4.2 0 .3-.3.4-.4 0-.2 0-.6-.1-.7-.2-.3-.2-1.3.2-1.4.4-.1.3-.3.3-.6s0-.5-.4-.6c-.4-.1-.4-1.1-.2-1.4.1-.2.2-.5.1-.7 0-.2-.2-.4-.4-.4-.4-.2-.8-1-.6-1.4.2-.4-.1-1.1-.6-1.1-.4 0-.9-.8-.8-1.2 0-.2-.1-.5-.2-.6-.1-.1-.4-.3-.5-.3-.4.1-1.2-.4-1.2-.8 0-.7-.5-.9-1.1-.7-.3.1-1.2-.3-1.2-.6-.1-.5-.8-.7-1.1-.4-.4.3-1.3 0-1.5-.6-.4 0-.9-.2-1.2.3-.2.3-1.1.1-1.4-.1-.2-.2-1-.1-1.1.2-.3.7-1 .9-1.6.3-.3.3-.9.2-.9.9 0 .2-.8.7-1 .6-.7-.3-.8.2-1.1.4 0 .3.1.6 0 .6-.3.2-.4.9-1 .7-.4-.1-.8.6-.7 1 .2.5-.4 1.3-1 1.2-.1.3-.3.6-.4.9.6.6.4 1.5-.4 1.7 0 .5-.4 1 .3 1.3.3.3 0 1.3-.2 1.6zm5.8-.8c-.1-2.7 2.1-4.9 4.8-4.9 2.7 0 4.8 2.1 4.8 4.8 0 2.7-2.1 4.9-4.8 4.9-2.7.1-4.9-2.2-4.8-4.8z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/></svg>
            b Комбайни
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="106" height="75" viewBox="0 0 106 75" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M105 58.7c-.5 1.1-1.1 2.2-1.6 3.2h.3c0 .5.2 1.2 0 1.6-.5 1.1-.6 2.5-2.3 2.5-.5 0-1 .8-1.6 1.4.1.3.3.6.7 1.2-1.2.8-2.4 1.7-3.5 2.5-.1.1-.2.2-.4.1-1-.1-2.1-.2-3.1-.3-.1.6-.1 1.1-.1 1.7l-3.3.3c-.2 0-.5 0-.6-.2-.4-.9-1.1-1-1.9-1-.2 0-.3-.3-.6-.5-.3.4-.5.8-.8 1.4l-2.7-.9c-.1 0-.3-.1-.3-.2-.6-.9-1.2-1.8-1.9-2.7-.4.3-.7.5-1.2.9L78 67.6c-.1-.1-.3-.4-.2-.4.5-.8 0-1.5-.4-2.1-.1-.2 0-.5 0-.8-.4.1-.8.2-1.5.3-.4-.9-.7-1.9-1.1-2.8-.1-.2-.1-.4 0-.5.3-1 .6-1.9.8-2.6-.6-.6-1.3-1.1-1.3-1.5.1-1.1-.6-2.5 1-3.2.3-.2.5-.6.8-.9.2-.3.4-.6.7-1-.8-.5-1.5-1.2-.5-2.3.7-.7 1.3-1.5 2-2.1.5-.5 1.2-.8 1.9-1.2-.5-.8-.2-1.4.7-1.8.2-.1.4-.3.6-.4 1.9-1.2 2.7-1.4 5.2-1.1-.1-1.1.7-1.2 1.6-1.3 2.1-.2 4 .2 5.7 1.6.4-.9 1.1-.8 1.8-.4 1 .6 2.2 1 3 1.8.8.8 1.3 2 1.9 3.1.9-.6 1.4.2 2 1 1.3 1.7 1.1 3.5 1.3 5.3.4.6.8 1.2 1.2 1.9-.2.8-.2 1.7-.2 2.5zm-6.4-1c0-5.3-4.2-9.5-9.4-9.5s-9.4 4.2-9.4 9.4c0 5.3 4.2 9.6 9.4 9.6s9.4-4.3 9.4-9.5z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M56.1 24.6c1.9.2 2 .2 2-1.5V9.8 8.1h3.5c0 .5.1 1 .1 1.5v13.5c0 1 .2 1.3 1.3 1.4 8.9.3 17.6 1.3 26.3 3 1.8.3 2.9 1.2 3.6 2.8 1.1 2.6 2.9 9.2 2.9 11.2-14-4.6-26 7.8-23.4 20.6-1.6.7-1.7.7-2.2-.9-.9-3.1-.9-3.1-4.1-3.1-1.1 0-2.6-.3-3.2.3-.6.5-.3 2-.5 3.1 0 .2-.1.4-.2 1h-6.4c-3 .1-6 .1-9 .3-.9 0-1.4-.3-1.8-1.1-.8-1.5-1.1-2.9-.7-4.8 2.5-12.7-5.7-25-18.3-27.5-8-1.6-14.9.6-20.8 6.2l-.9.9c-.1.1-.1.1-.3.1-.6-.5-1.2-1-1.8-1.4-.2-.2-.4-.3-.9-.5 1.1-1.1 1.9-2.1 2.8-3 3-2.7 6.6-4.3 10.4-5.5.9-.3 1.2-.7 1.2-1.6 0-6.7.6-13.3 1.8-19.9.2-.9.1-1.7-.6-2.3-.3-.3-.6-.7-1-1.3 2.4-.2 4.5-.5 6.7-.5C29.4.5 36.1.4 42.9.6c2.8.1 5.6.7 8.4.9.9.1 1.2.5 1.5 1.4 1.8 6.6 2.7 13.3 3 20.1.2.5.2 1.1.3 1.6zm-13.2-3.9c.9.8 1.9 1.5 3 2.5.3-.4.6-.9 1-1.3 2.2-2.2 2.2-2.2 4.4.1.9.9 1.8 1.9 2.8 2.9.1-.4.2-.4.2-.5-.4-6.5-1.2-12.9-2.7-19.3-.2-.9-.7-1-1.5-1-4.3 0-8.5-.1-12.8-.1-.5 0-1 .1-1.6.1v21.5c0 1.1.3 1.8 1.3 2.4 5.3 3.1 9.5 7.4 12 13.1 1.1 2.5 1.1 2.5 3.8 2.5 1.2 0 1.7-.7 1.2-1.8-.1-.4-.4-.7-.6-1-3.2-4.7-6.5-9.4-9.7-14.2-.2-.3-.5-.8-.4-1 .6-.8-.1-1.2-.5-1.6-.5-.6-1-1.1-1.5-1.7.7-.7 1.2-1.1 1.6-1.6zm-8.4 5.9c.1-.2.2-.3.2-.3 0-7.2 0-14.4-.1-21.6 0-.3-.6-.8-1-.8-4.4-.1-8.8-.1-13.1 0-.3 0-.9.5-1 .9-.6 6.5-1.2 12.9-1.8 19.4 0 .3.1.7.1 1 1.6-.1 3.1-.3 4.6-.4.8 0 1.1-.3 1-1.1-.2-1.5-.4-3.1-.7-4.6-.5-2.4-1.1-4.8-1.6-7.2 1.9-.4 2.3-.2 2.9 1.5.8 2.4 1.5 4.9 2.2 7.3.2.7.6 1.1 1.4 1.1 1.2 0 2.4 0 3.6.1 1.3.1 2.1 1 2 2.4-.1 1.3-1.2.8-1.9.9-.2 0-.4.1-.7.1v.2c1.4.4 2.7.8 3.9 1.1zm47.9 2.1c.4 2.4.8 4.6 1.2 6.8.1.3.6.6.9.7 2.3.6 4.7 1.2 7 1.8.4.1.9.2 1.7.3-.7-2.1-1.3-4-1.8-5.8-.5-1.6-1.5-2.5-3.2-2.7-1.8-.2-3.7-.7-5.8-1.1zm-13-1.4c.4 1.8.7 3.7 1.1 5.5.4 2.1.6 2.3 2.9 1.9l-.9-5.4c-.3-2.1-.6-2.3-3.1-2zM80 35.4c-.4-2.3-.7-4.4-1.1-6.6-.1-.3-.4-.7-.7-.7-.7-.1-1.3-.1-2.2-.1.3 1.8.6 3.5.9 5.1.4 2.2.4 2.2 3.1 2.3z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M42.5 59.5c-.5 1.2-1.1 2.3-1.6 3.3-.4.8-.8 1.6-2 1.4-.4-.1-.8.6-1.3.9-.4.3-.8.6-1.3.9.2.4.5.9 1 1.8-1.7 1.2-3.5 2.4-5.2 3.6-.2.1-.6.1-.7 0-.9-.9-1.8-.5-2.7-.2-.3.1-.7-.1-1.3-.2.1-.1 0-.1 0 0-.1 2.2-.1 2.3-2.4 2.6-.8.1-1.6.2-2.5.2-.4 0-.8-.4-1.1-.6-.5-.3-1.1-.7-1.6-.9l-1.5-.6c0-.1.1-.2.1-.3-.1.1-.2.1-.2.2-1 2-1 2-3.1 1.3-.7-.2-1.4-.5-2-.8-.3-.2-.7-.6-.6-.8.1-1-.6-1.3-1.2-1.8-.4-.3-.6-.7-1.1-1.3h.3c-.6.3-1.6 1.2-1.9 1-1.2-.9-2.1-2-3.1-3.1-.1-.1 0-.4.1-.5.6-.8.1-1.4-.3-2.1-.3-.4-.3-1-.4-1.6-.4.1-1.1.3-2 .5-.5-1.5-1.1-2.9-1.6-4.4-.1-.2 0-.7.2-.8 1-.6.9-1.5.7-2.4-.1-.4.2-.8.4-1.3l-.1-.1C.3 52.8.3 52.8.6 50.5c.1-.7.1-1.4.3-2.1.1-.3.4-.8.7-.8 1-.1 1.3-.8 1.6-1.6.1-.4.6-.8 1-1.3.1.2.1.1 0 0-1.9-1.7-1.9-1.7-.5-3.9.3-.6.7-1.1 1.1-1.6.4-.5.6-1.1 1.5-.9.3.1.8-.6 1.3-.9.4-.2.8-.3 1.4-.6-.1-.3-.3-.8-.7-1.7 1.5-.9 3.1-1.9 4.7-2.8.9-.5 4.5-.4 5 .1.1 0 .2-.1.2-.1.3-1.9.3-2 2.3-2 1.2 0 2.4-.1 3.5 0 .6.1 1.1.5 1.7.8.4.2.9.4 1.3.5.6.2 1.4.2 1.1 1.2.3-.5.7-.9 1.2-1.7l5.4 3c1.3.8 2.9 4 2.4 5 .7-.3 1.3-.5 2.2-.9 1 1.8 2.3 3.5 2.8 5.4.3 1-.3 2.5.1 3.7 0 .1-.4.3-1 .7 2.7-.5 2.6 1.1 2.6 2.5s0 2.8-.1 4.1c0 .2-.2.5-.3.7-.3.6-.7 1.2-1 1.8-.2.4-.5.7-.8 1.2-.1.5.3.8.9 1.2zm-7.8-6.9c0-7.3-5.8-13.3-13-13.3s-13.1 6-13.1 13.2c0 7.3 5.9 13.3 13.1 13.3 7.2 0 13-5.9 13-13.2zM59.4 5.2V3.4c0-.2.3-.4.5-.6.2.2.4.3.4.5v3.9c0 .2-.3.3-.4.5-.2-.2-.5-.4-.5-.6V5.2zM43 20.7c-1 .9-2.1 1.7-3.1 2.6-.3.3-.6.6-1 .9-.2.1-.5 0-.8 0 0-.3 0-.6.1-.8.6-.6 1.2-1.2 1.9-1.8 1.4-1.3 2.8-2.7 4.3-4 .3-.2.7-.2 1.1-.3-.1.4-.1.8-.3 1.1-.8.8-1.6 1.5-2.2 2.3zm0 0c-.1 0 0 0 0 0zM81.8 57.7c0-4.2 3.3-7.4 7.4-7.4 4.1 0 7.4 3.4 7.4 7.6 0 4.1-3.4 7.4-7.5 7.4-4.1-.1-7.3-3.4-7.3-7.6zm13.1 0c0-3.2-2.6-5.8-5.7-5.8s-5.7 2.6-5.7 5.8c0 3.2 2.5 5.8 5.7 5.8 3.1 0 5.7-2.6 5.7-5.8z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M21.7 42.1c5.8 0 10.4 4.7 10.3 10.6 0 5.8-4.7 10.4-10.4 10.4s-10.4-4.8-10.4-10.6c.1-5.8 4.8-10.4 10.5-10.4zm7.8 10.4c0-4.4-3.5-8-7.9-7.9-4.3 0-7.9 3.6-7.9 8s3.6 8 7.9 8c4.4 0 7.9-3.7 7.9-8.1z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/></svg>
            b Трактори
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="204" height="72" viewBox="0 0 204 72" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M147.6 59.5c-.3-.4-.5-.7-.7-1-.3-.5-.5-.9-.8-1.4-.1-.2-.2-.3-.2-.5 0-1.1-.1-2.2-.1-3.2 0-1.1-.1-2.3 2-1.9-.5-.4-.8-.5-.8-.6.3-1-.1-2.1.1-2.9.4-1.5 1.4-2.9 2.2-4.3.7.3 1.2.5 1.7.7-.3-.7.9-3.3 1.9-3.9l4.2-2.4c.4.6.7.9 1 1.3-.2-.8.4-.8.9-1 .3-.1.7-.2 1-.4.5-.2.9-.6 1.3-.6.9-.1 1.8-.1 2.7 0 1.5.1 1.5.1 1.8 1.6 0 0 .1.1.2.1.3-.4 3.1-.5 3.9-.1 1.2.7 2.5 1.5 3.6 2.2-.3.7-.4 1.1-.5 1.3.4.2.8.3 1.1.4.4.2.7.8 1 .7.7-.2.9.3 1.2.7.3.4.6.8.8 1.3 1 1.7 1 1.7-.4 3.1 0 0-.1.1 0 0 .3.4.7.6.8 1 .2.7.4 1.2 1.2 1.3.2 0 .5.4.5.6.1.5.2 1.1.2 1.6.2 1.8.2 1.8-1.5 2.2-.1 0-.2.1-.1.1.1.4.4.7.3 1-.1.7-.2 1.4.5 1.9.1.1.2.5.1.6-.4 1.1-.8 2.3-1.2 3.4-.7-.2-1.2-.3-1.5-.4-.1.5-.1.9-.3 1.3-.3.5-.7 1-.2 1.6.1.1.1.3.1.4-.8.8-1.5 1.7-2.5 2.4-.2.1-1-.5-1.5-.8h.2c-.4.5-.5.8-.8 1-.5.4-1 .6-1 1.4 0 .2-.3.5-.5.7-.5.3-1.1.5-1.6.7-1.7.6-1.7.6-2.5-1 0-.1-.1-.1-.1-.1 0 .1 0 .2.1.3-.4.2-.8.3-1.1.5-.4.2-.9.5-1.3.7-.3.2-.6.4-.9.5-.6 0-1.3 0-1.9-.1-1.8-.3-1.7-.3-1.8-2 0 0-.1-.1 0 0-.4.1-.7.2-1 .1-.7-.3-1.4-.6-2.1.1-.1.1-.4.1-.6 0-1.4-.9-2.8-1.9-4.1-2.8.4-.7.6-1.2.8-1.4-.4-.3-.8-.5-1-.7-.3-.3-.7-.8-1-.7-1 .1-1.3-.5-1.6-1.1-.4-.8-.8-1.7-1.2-2.6.6-.6.9-.8 1-.9zm15.4 5.6c5.6 0 10.2-4.7 10.2-10.4s-4.6-10.3-10.2-10.3-10.2 4.6-10.2 10.4c0 5.6 4.6 10.3 10.2 10.3z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M171.1 54.6c0 4.6-3.6 8.3-8.1 8.3s-8.1-3.6-8.1-8.1c0-4.6 3.5-8.3 8.1-8.3 4.4 0 8.1 3.6 8.1 8.1zM163 61c3.4 0 6.2-2.8 6.2-6.2 0-3.4-2.8-6.2-6.1-6.2-3.4 0-6.2 2.8-6.2 6.2-.1 3.3 2.7 6.2 6.1 6.2zM81 59.5c-.3-.4-.5-.7-.7-1-.3-.5-.5-.9-.8-1.4-.1-.2-.2-.3-.2-.5 0-1.1-.1-2.2-.1-3.2 0-1.1-.1-2.3 2-1.9-.5-.4-.8-.5-.8-.6.3-1-.1-2.1.1-2.9.4-1.5 1.4-2.9 2.2-4.3.7.3 1.2.5 1.7.7-.3-.7.9-3.3 1.9-3.9l4.2-2.4c.4.6.7.9 1 1.3-.2-.8.4-.8.9-1 .3-.1.7-.2 1-.4.5-.2.9-.6 1.3-.6.9-.1 1.8-.1 2.7 0 1.5.1 1.5.1 1.8 1.6 0 0 .1.1.2.1.3-.4 3.1-.5 3.9-.1 1.2.7 2.5 1.5 3.6 2.2-.3.7-.4 1.1-.5 1.3.4.2.8.3 1.1.4.4.2.7.8 1 .7.7-.2.9.3 1.2.7.3.4.6.8.8 1.3 1 1.7 1 1.7-.4 3.1 0 0-.1.1 0 0 .3.4.7.6.8 1 .2.7.4 1.2 1.2 1.3.2 0 .5.4.5.6.1.5.2 1.1.2 1.6.2 1.8.2 1.8-1.5 2.2-.1 0-.2.1-.1.1.1.4.4.7.3 1-.1.7-.2 1.4.5 1.9.1.1.2.5.1.6-.4 1.1-.8 2.3-1.2 3.4-.7-.2-1.2-.3-1.5-.4-.1.5-.1.9-.3 1.3-.3.5-.7 1-.2 1.6.1.1.1.3.1.4-.8.8-1.5 1.7-2.5 2.4-.2.1-1-.5-1.5-.8h.2c-.4.5-.5.8-.8 1-.5.4-1 .6-1 1.4 0 .2-.3.5-.5.7-.5.3-1.1.5-1.6.7-1.7.6-1.7.6-2.5-1 0-.1-.1-.1-.1-.1 0 .1 0 .2.1.3-.4.2-.8.3-1.1.5-.4.2-.9.5-1.3.7-.3.2-.6.4-.9.5-.6 0-1.3 0-1.9-.1-1.8-.3-1.7-.3-1.8-2 0 0-.1-.1 0 0-.4.1-.7.2-1 .1-.7-.3-1.4-.6-2.1.1-.1.1-.4.1-.6 0-1.4-.9-2.8-1.9-4.1-2.8.4-.7.6-1.2.8-1.4-.4-.3-.8-.5-1-.7-.3-.3-.7-.8-1-.7-1 .1-1.3-.5-1.6-1.1-.4-.8-.8-1.7-1.2-2.6.5-.6.8-.8 1-.9zm15.3 5.6c5.6 0 10.2-4.7 10.2-10.4s-4.6-10.3-10.2-10.3S86.1 49 86.1 54.8c0 5.6 4.6 10.3 10.2 10.3z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M104.4 54.6c0 4.6-3.6 8.3-8.1 8.3s-8.1-3.6-8.1-8.1c0-4.6 3.5-8.3 8.1-8.3 4.5 0 8.1 3.6 8.1 8.1zM96.3 61c3.4 0 6.2-2.8 6.2-6.2 0-3.4-2.8-6.2-6.1-6.2-3.4 0-6.2 2.8-6.2 6.2 0 3.3 2.7 6.2 6.1 6.2zM146.4 33.8l13-1.6h.4s.2-1.1.6-2.9c1.1-5.5 3.6-17.7 4.4-23.1-4.6-.1-10.2-.1-12.4.3-4 .8-5.2.1-5.2.1l-.8 27.2z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M159.4 32.5v1.7s.9.1 2.3.3c3 .4 8.3 1 13.1 1.4 4.4.3 7 3.8 8.4 6.4.9 1.7 2.6 2.7 4.5 2.7h10.7c1.2 0 2.2-.4 3-1.1 1-.9 1.5-2.2 1.6-3.5v-2.3-1.5c-1.9-9.4-6.4-10.8-13.2-12.7-5.6-1.6-20.3-3.2-24.9-3.7-.9-.1-1.4-.1-1.4-.1l-3.1 9.2c-.4 1.8-.6 2.9-.6 2.9h-.4v.3zm3.4-.5l.6-2 2.6-7.9s.2-.1 1.1 0c.9.1 17.4 2.3 21.4 3.5 4 1.2 6.1 1.5 7.4 4.9 1.4 3.4 2.4 6.4 2.4 6.4s.2 1.1 1 1.1h.3c.3 0 .6.3.6.6v.3c0 .3-.3.6-.6.6-.1 0-.3 0-.4.1-1.2.5-7.8 3.3-9 3.1-1.3-.1-.9-.1-2-2.1s-2.5-4.5-4.5-5.3c-2-.8-.1-1-10.4-2.3-7.7-.9-9.8-1.2-10.4-1.2l-.1.2zM104.4 35.2c.2 0 .4 0 .6.1 10.8 1.4 10.6 13.8 10.6 13.8h28.5c2.6-8.6 7.9-12.5 12.4-14.3l-13.4.6v-1.3l-38 1.2-.7-.1z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M143.2 2.8v32.5l13.4-.6 5-.2c-1.4-.2-2.3-.3-2.3-.3v-1.7l.1-.2-13 1.6.9-27.2s1.2.7 5.2-.1c2.2-.5 7.8-.4 12.4-.3.8 0 1.6 0 2.3.1 2.8.1 4.8.2 4.8.2s1.2-2.1-4-4.4c-5.4-2.5-24.8.6-24.8.6zM162.8 32h.2l.2-.3.3-1.7-.7 2z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M160.4 29.3l3.1-9.2s.5.1 1.4.1L167 6.3c-.7 0-1.5 0-2.3-.1-.7 5.5-3.1 17.6-4.3 23.1zM99.7 34l7.5-.2 36-1.1v-20c-2.9.2-6.4.4-6.4-.4 0-1.4-13.7-.5-16 .6-2.3 1.2-17.3 1.1-18.1 8-.5 4.4-1.7 8.7-2.4 11.1-.3 1.2-.6 2-.6 2zM89.3 30.7c0 .4.1.8.2 1.2.4 1.5 1.5 2.7 2.9 3.2 1.5-1 3.2-2.1 5-3 .3-.2.6-.5.8-1l-5.8-1.5-1.3-.3c-.5.8-1.1 1.2-1.8 1.4z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M92.3 35.2c.5.2 1.2.3 1.8.3l10.9-.3h.1l.1-.1 2-1.5-7.5.2s.3-.8.6-2.1l-2.3-.6c-.3.5-.5.8-.8 1-1.7 1-3.3 2.1-4.9 3.1z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M52.7 36.5c.3.1.5.2.8.4l-.8-.4zM30.9 31c.4.1.9.2 1.3.3.4.1.7.2 1.1.3.4.1.7.2 1.1.3l-3.5-.9zM1.7 22.1c.2.1.4.1.6.2h.1c.3.1.7.2 1 .2-.1-.6-.3-1.1-.4-1.7-.1 0-.2-.1-.3-.1.1-.1.1-.2.2-.3-.2-.5-.3-.9-.4-1.1-.1-.2-.2-.3-.4-.4-.3.4-.5.8-.8 1.2-.5 1.1-.4 1.7.4 2zm85.7 1.3c3.4-.2 5.7 1.9 5.2 5.3-.1.4-.2.8-.3 1.1l5.8 1.5c2-3.9 2.6-17.3.7-20.8-.1.3-.6 1.1-.6 1.7-.1 2.7.1 5.3 0 8 0 .4-.5.9-.7 1.2-.4-.4-.8-.6-1-1.1-.2-.5-.1-1.1-.1-1.6 0-2.4 0-4.8-.1-7.2-1.8.1-4 0-5.7.1-1.7.1-2.2.8-2.2 2.4 0 2.5.2 5.1.2 7.6-.1 1-.4 1.4-1.2 1.8z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M34.4 31.9c2.3.6 4.7 1.1 7 1.7 3.8.9 7.7 1.4 11.2 2.9l-18.2-4.6zm19.1 5c1.3.6 2.5 1.4 3.7 2.3 1.6 1.3 3.5.9 5.2-.2.5-.3 1.2-.6 1.8-.5 3.1.5 6.1 1.3 9.1 1.8.3.1.7.2.8.3.6 1.7 1.8 1.2 3.2 1.8.5-1.9.9-3.8 1.2-5.7 2.1.4 4.2.4 6.2.7 1.5 2 4.3.2 7.8-2.1-1.4-.6-2.5-1.8-2.9-3.2-.3.1-.7.3-1.1.4-.2 2-1.2 2.6-3.2 2.5-2-.1-4.3-.2-6.4-.5.1-1.8.2-3.6.2-5.4 1.6.2 3.1.3 4.7.3.2-1.2.5-2-.8-2.5 1.2-1 2.4-1.9 3.5-2.9-2.5 1-5.1 1.8-7.7 2.3.6-1.5 1.4-2.9 2.2-4.3-1.8-.3-3.7-.6-5.5-1.1.4.8.7 1.7 1 2.6-.5 0-.8.2-1.3.1-15.8-1.4-31.6-3.2-47.5-4.9-6.4-.7-13.2-1.3-19.6-1.8-2.5-.2-4.5.6-5.8 2.3l.4.4c.2.2.3.6.4 1.1 1.6-2.6 3.9-2.8 6.9-2-2.6 2.5-3.5 3.6-6.7 2.5.2.5.3 1.1.4 1.7.1.4.2.8.2 1.2.1.3.1.6.1.8.2.1.3.2.5.3 4 1 7.8 1.8 11.9 2.7 5 1.1 9.8 2.3 14.7 3.5l22.4 5.5zm15.8-1.1c2.4-2.2 3.9-5.2 6.6-7.2-.2 2.8-.4 5.7-.9 8.5-2-.4-3.8-.8-5.7-1.3zm2.4-4.8l-3 3.6c-1.1-2.7.7-3.2 3-3.6zm-4.3-.2c-.9-2.4-1.9-4.8-2.8-7.2 3.6.4 7.2 1 10.8 1.1-.8 1.5-1.3 3-3 3.8-1.7.8-3.3 1.6-5 2.3zm-11 6c1.6.3 3.2.6 4.7 1-1.8 1.3-3.1.4-4.7-1zm-.1-3.6c2.4-2.9 4.9-5.8 7.2-8.8.8 2.3 1.8 4.4 2.5 6.9.2 1-1.7 3.2-2.7 3.1-2.5-.2-4.7-.8-7-1.2zm-4.5-10.7c3.6.3 7.1.6 10.7.9-2.4 2.9-4.8 5.8-7.2 8.8-1.2-3.3-2.4-6.5-3.5-9.7zm-5.3 6.1c1.3-1.8 2.7-3.5 4-5.3 1.1 3.1 2.2 6.1 3.3 9.2-3.1-.3-4.8-2.2-7.3-3.9zM40 21.3c3.1.3 6.3.6 9.4.9-1.4 1.8-2.8 3.7-4.1 5.5-3.6-.9-3.6-3.6-5.3-6.4zm-3.5 7.5c.1 0 0-.2.1-.2 1.3 0 2.7 0 3.9-.1 1.3-.1 1.4.6 1.7 1.6-1.9-.4-3.8-.8-5.7-1.3zM35.3 27c1.3-1.6 2.5-3.2 3.8-4.8.7 1.6 1.4 3.2 2 4.9-1.9 0-3.9 0-5.8-.1zm-5.2-6.9c2.7.3 5.4.7 8 1-1.2 1.5-2.6 3.3-3.8 4.7-.8 1-1.3.6-1.8-.3-.9-1.7-1.6-3.6-2.4-5.4zM26.4 24c.8-1 1.7-2 2.5-3.1.7 1.6 1.4 3.1 2.1 4.7-1.5-.5-3.1-1-4.6-1.6zM23 22.9c-.8-1.1-1.2-2.4-1.8-3.6l6.6.6c-1 1.1-1.7 2.4-2.9 3.3-.3.3-1.5.1-1.9-.3zm-7.2 1c1.4-1.4 2.7-2.8 4.1-4.1.5 1.1 1 2.1 1.5 3.2-1.9.3-3.7.6-5.6.9zm-.8-1.2c-.5-1.4-1-2.7-1.6-4.1 1.7.1 3.5.3 5.2.4-1.2 1.2-2.4 2.5-3.6 3.7zm-3.7-3.6c.6 1.4 1.2 2.8 1.8 4.1-1.8-.4-3.5-.7-5.3-1.1 1.2-1 2.3-2 3.5-3z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M85.1 28c0 1.8 1.5 2.9 3.2 2.9.3 0 .6-.1.9-.1.7-.2 1.3-.7 1.8-1.3.3-.5.5-1 .5-1.7 0-1.8-1.3-3.2-3-3.1-1.8 0-3.4 1.5-3.4 3.3z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/></svg>
            b Обприскувачі
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="119" height="86" viewBox="0 0 119 86" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M82.317 84.943c7.492 0 13.566-6.053 13.566-13.52 0-7.468-6.074-13.522-13.566-13.522-7.493 0-13.566 6.054-13.566 13.521 0 7.468 6.073 13.52 13.566 13.52z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M82.316 78.941c4.167 0 7.545-3.366 7.545-7.519 0-4.153-3.378-7.519-7.545-7.519-4.166 0-7.544 3.366-7.544 7.52 0 4.152 3.378 7.518 7.544 7.518z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M82.316 77.971c3.63 0 6.572-2.932 6.572-6.549 0-3.617-2.943-6.55-6.572-6.55s-6.57 2.933-6.57 6.55 2.941 6.55 6.57 6.55zM14.623 84.943c7.493 0 13.566-6.053 13.566-13.52 0-7.468-6.073-13.522-13.566-13.522-7.492 0-13.566 6.054-13.566 13.521 0 7.468 6.074 13.52 13.566 13.52z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M14.623 78.941c4.167 0 7.545-3.366 7.545-7.519 0-4.153-3.378-7.519-7.545-7.519-4.166 0-7.544 3.366-7.544 7.52 0 4.152 3.378 7.518 7.544 7.518z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M14.623 77.971c3.63 0 6.572-2.932 6.572-6.549 0-3.617-2.942-6.55-6.572-6.55-3.629 0-6.57 2.933-6.57 6.55s2.941 6.55 6.57 6.55zM17.829 52.481s-.355-1.323 1.534-1.586c1.889-.262 13.05-1.118 21.557-.353 8.494.764 24.83 4.29 28.059 6.173 0 0 .653.25.103 1.106-.55.856-2.53 3.64-2.667 6.299-.126 2.658-.046 11.147-.046 11.147s.56 1.153-.206 1.153H32.71l-1.843-1.427s-.149-5.328-.103-7.496.664-9.23-3.812-11.045c-4.476-1.814-6.686-1.962-7.83-1.962-1.168-.012-1.111-.879-1.294-2.009z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M40.073 51.74l6.376.388v-.49l-6.376-.765v.867zM65.831 56.361s2.713.388 2.198 1.358c-.515.97-1.74 2.75-1.763 3.96h-.435V56.36v0zM68.922 58.061l1.683.833s-1.637 2.955-1.626 4.313l-2.564 1.095M66.415 65.557l2.415-1.255.046 2.442s-.55 1.118-.56 1.974h-1.97M19.878 56.361s-1.775.582-2.072 1.153c0 0-6.423-2.476-15.536 4.723h-.847s2.84-2.693 5.095-3.708c3.251-1.483 5.53-2.955 13.36-2.168zM7.411 48.91c.103-.045 5.346-2.27 5.346-2.27l3.149 6.914-5.267 2.316-3.228-6.96z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M12.528 46.72s-1.682-4.05-1.763-4.05c-.08 0-.286-.8-2.198-.788L8.877 43s.686-.08 1.076.742c.389.821 1.465 3.48 1.465 3.48M8.453 51.135s-3.39 2.659-3.47 6.755h-.251v1.666M2.98 61.69s1.489-.103 2.015.216M31.051 75.142s-1.751 2.99-4.522 2.761M69.048 74.24s-2.13.012-2.69.446M81.824 56.852c-1.511.16-7.064 1.198-10.727 5.922l-1.099-.913s2.05-2.27 3.125-2.933c1.076-.661 4.099-3.194 11.803-3.194h1.054s.767.045.435.639l-.32.33s-.047.137-.802.115c-2.519-.092-3.469.034-3.469.034z" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M69.3 57.057s.892.182 1.247.445c.355.262 1.66 1.597 1.9 1.917" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M71.349 58.232s1.889-1.198 2.644-1.437c.756-.24 1.488-.354 1.488-.354v.536s-2.312.41-3.697 1.7" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M70.547 57.502s2.393-1.597 3.973-1.94v-.684l.962-.217v.4s2.175-.24 2.827-.217v-2.35h1.02l-.756-4.211s-.401.103-.584.913c-.195.821-.138 1.22-.516 1.426-.366.205-.8.365-.915-.148-.115-.525-.779-5.477-.756-6.675.023-1.198-.114-1.335.424-1.472.538-.125 1.5-.456 1.545.08.046.536.355 2.259.355 2.259s.435-.068.47.48c.034.547.125 2.304.217 2.67.091.364 1.065 4.654 1.065 4.654h.824v1.86h-.79v1.004h2.29v-2.818h1.144l.24-.433h1.58s.298.034.287.33c-.012.297 0 2.305 0 2.305h-1.729v.993M13.536 48.328s1.946-.616 4.018-.536c2.072.08 5.53-.513 7.144-1.757 1.614-1.255 5.094-3.594 5.094-3.594l.206-2.522s-4.705.286-6.48-1.38l-.251-1.175-.584-.183s-.916-.377-1.008-1.141c-.091-.765-.183-1.221.31-1.278.48-.046.824-.114.938.182.115.286.653 1.119.653 1.119l.492-.251 6.445-.137s1.088.114 1.637.593l.115-.764h8.826l3.721-2.157s-.08-.354.183-.48c.275-.113.31-.033.39.08.08.115.286-.068.48-.136.183-.08 24.144-14.262 24.144-14.262s-.217-.354 0-.503c.218-.148.516-.216.618 0l.08.126 1.752-1.164.16.457 1.993-1.381s-1.077-1.038-.493-1.586.87-.616 1.523-.457c.652.16 1.087.206 1.43.48 0 0 1.077-.72 1.49-.411l.388.456 10.19-6.093s-.15-3.423 1.018-4.335c0 0 .08-.799.939-1.427.858-.627 2.518-1.631 2.518-1.631s.39-.114 1.11.137c.722.25.94.376 1.352.41.412.035.63.32 1.087.72.458.399 12.422 11.991 12.422 11.991s5.151-1.871 5.747-1.62c0 0 .938-1.255 1.591-1.152 0 0-.08-.72.091-.765.172-.046.321.034.344.24.023.205.366.262.366.262s.389.205.08.525c-.297.33-.606.49-.606.49s-.527 6.242-.527 6.287c0 .046 1.007 2.42 1.007 2.42l-7.887 4.096s-.893-2.91-1.912-3.526c0 0-.756-.24-1.695.32 0 0-.984.524-1.98-.73-.985-1.256-2.828-3.435-2.576-3.994.252-.56-.069-.685-.492-.856-.424-.171-3.022-1.62-3.022-1.62s-2.61.353-4.763-2.704l-9.925 6.07s.835.821-.115 1.323c-.95.514-11.585 6.8-11.585 6.8l-8.735 5.192-2.393 4.895s.24.65-.172 1.21c-.412.559-2.495 1.882-2.495 1.882s-.355.103-.768-.274l-8.826 8.637.458.571-3.01 2.818" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M32.815 50.234l.102-.81 8.804-5.203 2.084.41-7.144 5.66" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M37.829 50.337l6.777-5.454s1.145.285 1.603-.73c.458-1.016 1.087-2.59 1.007-3.195l5.117-3.16s1.11.376 1.798 0c.687-.377 1.282-.982 2.3-.8 0 0-.446.867-.114 1.392l-8.906 8.42-.447-.456-4.51 4.36M34.451 48.511v1.723M39.305 48.192s.08-.925-.71-.936c-.79-.011-1.11.993-1.167 1.415-.046.422-1.237 1.62-1.237 1.62" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M39.569 48.945v.775h1.786v.868M42.626 44.392v1.175M42.626 46.492v4.016M45.35 44.871v2.978M50.387 38.995s2.347.08 2.553.354c.206.262.103 1.06.802 1.472M55.264 40.98l1.557 4.781s-.927.331-.778.947c.149.616.984 3.583.984 3.583s.264.33.618.41c.344.08-.664.172-1.259.275-.584.102-1.832.581-1.832.581l-.915-.98 1.751-1.495s.138-.206-.023-.423c-.171-.216-.732.251-.732.251l-.561.423s-.298-.183-.252-.377c.046-.194-.069-.33-.183-.4-.115-.068-.653.457-.653.457s-.057.285.24.263c.298-.023.539.33.539.33l-2.77 2.385" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/><path d="M56.947 46.16s-.607.08-.515.594c.091.513.858 3.16.858 3.16s.275.548.79.48l-1.133-4.234zM56.706 39.577s3.504 11.068 3.962 14.502M41.08 35.492l-11.22 6.903M38.035 37.364s-4.373.376-4.396.388c-.023.01-.378 2.555-.378 2.555" stroke="#009846" stroke-width=".8" stroke-miterlimit="10"/></svg>
            b Навантажувачі
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="126" height="76" viewBox="0 0 126 76" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" stroke="#009846" stroke-width=".7" stroke-miterlimit="10"><path d="M98.025 75.936c5.511 0 9.979-4.455 9.979-9.95 0-5.497-4.468-9.952-9.98-9.952-5.511 0-9.98 4.456-9.98 9.951 0 5.496 4.469 9.951 9.98 9.951z"/><path d="M98.024 72.67c3.702 0 6.704-2.993 6.704-6.685 0-3.692-3.002-6.685-6.704-6.685-3.703 0-6.704 2.993-6.704 6.685 0 3.692 3.001 6.685 6.704 6.685z"/><path d="M98.024 70.967a4.99 4.99 0 004.996-4.982 4.99 4.99 0 00-4.996-4.982 4.99 4.99 0 00-4.996 4.982 4.99 4.99 0 004.996 4.982z"/><path d="M98.024 67.205c.676 0 1.223-.546 1.223-1.22 0-.674-.547-1.22-1.223-1.22s-1.224.546-1.224 1.22c0 .674.548 1.22 1.224 1.22zM13.434 72.67c3.702 0 6.704-2.993 6.704-6.685 0-3.692-3.002-6.685-6.705-6.685-3.702 0-6.704 2.993-6.704 6.685 0 3.692 3.002 6.685 6.705 6.685z"/><path d="M13.434 70.967c2.759 0 4.996-2.23 4.996-4.982a4.989 4.989 0 00-4.996-4.982 4.99 4.99 0 00-4.996 4.982 4.99 4.99 0 004.996 4.982z"/><path d="M13.434 67.205c.675 0 1.223-.546 1.223-1.22 0-.674-.548-1.22-1.223-1.22-.676 0-1.224.546-1.224 1.22 0 .674.548 1.22 1.223 1.22z"/><path d="M4.933 63.66c-.28 2.605-.434 4.537-.765 5.998 1.466 3.673 5.06 6.278 9.266 6.278 5.506 0 9.98-4.448 9.98-9.95 0-3.458-1.772-6.495-4.449-8.287a6.152 6.152 0 00-1.223-.28c-7.38-.902-12.134.026-12.81 6.24z"/><path d="M18.953 57.712c5.99 2.033 4.817 12.734 4.817 12.734l2.6.648c.536-9.036-1.121-9.849-2.32-12.124-1.733-3.266-8.896-3.126-8.896-3.126H7.138c-6.36 0-6.335 6.545-6.335 6.545V73.42c2.065-.66 2.893-1.754 3.352-3.762"/><path d="M.804 62.567s-.74-.09-.74.533v4.423s-.025.547.74.547M26.383 71.094v.522h56.003V57.089H21.922"/><path d="M60.973 70.294H39.561a3.411 3.411 0 01-3.416-3.406c0-1.881 1.53-3.406 3.416-3.406h21.412a3.411 3.411 0 013.416 3.406c0 1.88-1.53 3.406-3.416 3.406zM20.533 56.555h61.98v.534h-.127"/><path d="M82.385 71.615h3.977s-1.084-12.111 4.677-15.238c5.761-3.126 10.923-1.652 10.923-1.652s7.125 1.995 8.259 10.269v5.147h14.326s1.134-.839 1.236-3.825c.089-3 .153-12.112.153-12.112l-3.046-4.83 1.555-.432.012-7.574-1.249-2.034s-2.561-16.94-3.007-18.288h1.516s.663.013.23-1.08a459.972 459.972 0 01-1.657-4.334s-.268-.623-1.173-.623h-.573s-2.511-8.655-12.287-9.163c-9.775-.508-11.534-.572-11.534-.572L85.635.064h-7.214s-4.6 17.843-1.707 17.843l-.574 38.648"/><path d="M120.214 21.072h-2.409s-.612.114-1.173-1.068a513.601 513.601 0 00-2.103-4.309s-.382-.66.51-.66h3.518M85.636.063L83.252 18.06l-.433 38.344s3.658-.687 8.208-.013M82.82 56.403l-.307.152M120.953 63.8h-8.004v4.702h8.004v-4.703zM120.953 67.815h-8.004M125.936 55.69h-.701s-1.542-.164-1.542 1.539v5.668s-.153 1.614 1.618 1.614h.51M117.104 21.53l.676 9.531s2.204-.508 2.37-2.326c.153-1.817.332-4.69-.51-5.858-.854-1.17-.815-1.348-2.536-1.348zM119.309 21.072l.204 1.652M118.697 21.072l.09.826"/><path d="M120.277 27.528l.574 4.333h-.523l-.293-2.592M120.328 31.861h-.867l-.968-1.054"/><path d="M118.072 30.972l.625.89h-1.262s-.574.114-.574.572v.47s-.012.559.561.559h3.798s.536-.102.536-.534v-.572s-.077-.47-.472-.47c-.395 0-.421-.025-.421-.025M76.701 17.907l6.551.152 31.379.37 1.568.66"/><path d="M116.415 19.547l-2.09-.153H96.558s-1.657.026-1.657 1.652v8.566s.013 1.424 1.428 1.424h13.421l3.67 2.516 7.558.038.357 28.888-8.31-.09s-1.007-10.154-12.044-12.378l-.026-18.974.026-11.642"/><path d="M114.313 19.457s1.848 5.39 1.988 10.155c0 0-.663 1.347-1.491 1.716l.089 1.194h-.217s-.038-.686-1.516-.94c0 0 .356-2.3-.051-2.834-.408-.534-1.249 1.398-1.581 3.507M116.722 20.182l.917 8.985M119.895 49.997H77.147a.429.429 0 01-.433-.432.43.43 0 01.433-.432h42.748c.242 0 .433.19.433.432a.429.429 0 01-.433.432zM102.51 36.653a.912.912 0 01-.917-.915v-2.224c0-.509.408-.915.917-.915.51 0 .918.406.918.915v2.224c-.013.495-.42.915-.918.915z"/><path d="M102.523 36.386h-.025a.283.283 0 01-.281-.28v-2.948c0-.153.128-.28.281-.28h.025c.153 0 .281.127.281.28v2.936a.286.286 0 01-.281.292zM81.544 61.512H30.321a.483.483 0 01-.485-.483v-1.246c0-.267.217-.483.485-.483h51.223c.268 0 .484.216.484.483v1.246a.483.483 0 01-.484.483zM33.163 67.078h-1.249a.57.57 0 01-.573-.572v-.203a.57.57 0 01.573-.572h1.25a.57.57 0 01.573.572v.203a.57.57 0 01-.574.572zM68.468 67.078H67.22a.57.57 0 01-.573-.572v-.203a.57.57 0 01.573-.572h1.25a.57.57 0 01.573.572v.203a.57.57 0 01-.574.572zM78.23 70.726h-2.574c-.752 0-1.364-.61-1.364-1.36v-.457c0-.75.612-1.36 1.364-1.36h2.575c.752 0 1.364.61 1.364 1.36v.457c0 .75-.612 1.36-1.364 1.36z"/><path d="M75.63 70.205c.606 0 1.097-.49 1.097-1.093 0-.604-.49-1.093-1.096-1.093-.606 0-1.096.49-1.096 1.093s.49 1.093 1.096 1.093zM78.103 70.205c.605 0 1.096-.49 1.096-1.093 0-.604-.49-1.093-1.096-1.093-.605 0-1.096.49-1.096 1.093s.49 1.093 1.096 1.093zM95.895 35.09H85.84v1.105h10.056V35.09zM95.895 38.305H85.84v1.106h10.056v-1.106zM95.895 41.635H85.84v1.105h10.056v-1.105zM95.895 44.952H85.84v1.106h10.056v-1.106z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h126v76H0z"/></clipPath></defs></svg>
            b Вантажівки
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg viewBox="0 0 183 76" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M58.8428 75.8532C64.2658 75.8532 68.6621 71.4664 68.6621 66.055C68.6621 60.6436 64.2658 56.2568 58.8428 56.2568C53.4197 56.2568 49.0234 60.6436 49.0234 66.055C49.0234 71.4664 53.4197 75.8532 58.8428 75.8532Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M58.8423 72.6237C62.478 72.6237 65.4253 69.6827 65.4253 66.0549C65.4253 62.427 62.478 59.4861 58.8423 59.4861C55.2066 59.4861 52.2593 62.427 52.2593 66.0549C52.2593 69.6827 55.2066 72.6237 58.8423 72.6237Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M58.8425 70.9358C61.5438 70.9358 63.7337 68.7506 63.7337 66.055C63.7337 63.3595 61.5438 61.1743 58.8425 61.1743C56.1411 61.1743 53.9512 63.3595 53.9512 66.055C53.9512 68.7506 56.1411 70.9358 58.8425 70.9358Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M58.8425 67.266C59.5128 67.266 60.0562 66.7238 60.0562 66.055C60.0562 65.3862 59.5128 64.844 58.8425 64.844C58.1723 64.844 57.6289 65.3862 57.6289 66.055C57.6289 66.7238 58.1723 67.266 58.8425 67.266Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M130.483 75.8532C135.906 75.8532 140.302 71.4664 140.302 66.055C140.302 60.6436 135.906 56.2568 130.483 56.2568C125.06 56.2568 120.664 60.6436 120.664 66.055C120.664 71.4664 125.06 75.8532 130.483 75.8532Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M130.483 72.6237C134.119 72.6237 137.066 69.6827 137.066 66.0549C137.066 62.427 134.119 59.4861 130.483 59.4861C126.848 59.4861 123.9 62.427 123.9 66.0549C123.9 69.6827 126.848 72.6237 130.483 72.6237Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M130.483 70.9358C133.184 70.9358 135.374 68.7506 135.374 66.055C135.374 63.3595 133.184 61.1743 130.483 61.1743C127.782 61.1743 125.592 63.3595 125.592 66.055C125.592 68.7506 127.782 70.9358 130.483 70.9358Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M130.483 67.266C131.153 67.266 131.697 66.7238 131.697 66.055C131.697 65.3862 131.153 64.844 130.483 64.844C129.813 64.844 129.27 65.3862 129.27 66.055C129.27 66.7238 129.813 67.266 130.483 67.266Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M143.391 65.5046C143.391 65.5046 145.525 52 130.52 52C130.52 52 119.156 51.2294 119.156 65.5046C119.156 65.5046 120.186 65.7248 120.222 64.844C120.296 63.9633 120.149 59.1927 123.054 56.4771C125.224 54.4587 127.578 52.844 132.432 53.4312C137.213 53.9816 141.737 56 141.92 64.4404C141.92 64.4037 141.847 65.578 143.391 65.5046Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M157.55 75.8532C162.973 75.8532 167.37 71.4664 167.37 66.055C167.37 60.6436 162.973 56.2568 157.55 56.2568C152.127 56.2568 147.731 60.6436 147.731 66.055C147.731 71.4664 152.127 75.8532 157.55 75.8532Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M157.551 72.6237C161.186 72.6237 164.134 69.6827 164.134 66.0549C164.134 62.427 161.186 59.4861 157.551 59.4861C153.915 59.4861 150.968 62.427 150.968 66.0549C150.968 69.6827 153.915 72.6237 157.551 72.6237Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M157.55 70.9358C160.252 70.9358 162.442 68.7506 162.442 66.055C162.442 63.3595 160.252 61.1743 157.55 61.1743C154.849 61.1743 152.659 63.3595 152.659 66.055C152.659 68.7506 154.849 70.9358 157.55 70.9358Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M157.551 67.266C158.221 67.266 158.764 66.7238 158.764 66.055C158.764 65.3862 158.221 64.844 157.551 64.844C156.88 64.844 156.337 65.3862 156.337 66.055C156.337 66.7238 156.88 67.266 157.551 67.266Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M170.422 65.5046C170.422 65.5046 172.555 52 157.55 52C157.55 52 146.187 51.2294 146.187 65.5046C146.187 65.5046 147.216 65.7248 147.253 64.844C147.327 63.9633 147.179 59.1927 150.085 56.4771C152.255 54.4587 154.608 52.844 159.463 53.4312C164.244 53.9816 168.767 56 168.951 64.4404C168.951 64.4037 168.878 65.578 170.422 65.5046Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M170.643 62.312L171.342 61.5781V58.4588H171.967V56.624H175.645L177.999 66.7891H179.617V56.4038H181.566V55.3396H182.485V51.1561H182.816V0.183594H44.0585V51.1561H43.7643V55.1561H44.3895V57.7249L43.0287 58.3854H6.32576V58.8625H2.24357V58.4955H0.184082V60.257H2.24357V59.89H6.36254V60.624H43.1758V61.6882H41.006V62.4955H43.801V60.624H48.0303V59.89H51.1196" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M65.1313 58.532H68.6619L66.345 59.743" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M68.7354 65.3209H70.7948L73.2956 63.2292V56.5503H81.5336C81.5336 56.5503 78.9592 57.1374 78.9592 58.5319C78.9592 59.9264 78.9592 61.3943 78.9592 61.3943C78.9592 61.3943 79.2534 62.4952 81.5336 62.4952C83.777 62.4952 97.1636 62.4952 97.1636 62.4952C97.1636 62.4952 99.8851 62.3485 99.8851 61.1007C99.8851 59.853 99.8851 58.0182 99.8851 58.0182C99.8851 58.0182 99.2599 56.5503 96.7223 56.5503H116.214L116.508 61.6145L119.377 61.6879" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M121.694 58.532L124.121 58.6054" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M136.882 58.6054L140.743 58.532" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M143.355 61.6514H146.518" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M148.761 58.3853H151.519" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M163.655 58.3853H167.701" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M44.0586 51.156H182.485" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              <path d="M180.536 2.05493H46.4854V49.2476H180.536V2.05493Z" stroke="#009846" stroke-width="0.7" stroke-miterlimit="10"/>
              </svg>
            b Причепи
          a.tech-category__item(href="#")
            span.tech-category__item-ico
              <svg width="122" height="51" viewBox="0 0 122 51" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M120.645 30.26c-.791 0-1.469.113-2.486.227V37.4c0 .567-.564 1.02-.79 1.587-.339-.567-.791-1.02-.904-1.587-.113-1.7-.113-3.4 0-5.213 0-1.36-.565-1.927-1.807-1.7-3.276.453-6.439 1.133-9.715 1.36-3.615.34-7.23.453-10.845.453-1.807 0-3.163.453-4.066 1.927-1.582 2.606-3.954 3.286-6.778 3.286-8.472-.113-16.945 0-25.53 0h-3.05V33.32c0-3.74-3.953-6.913-7.568-5.893-5.197 1.473-10.393 3.173-15.59 4.76-1.242.34-2.258.906-1.242 2.153a667.781 667.781 0 01-3.163 2.833c-.678.454-1.355 1.134-2.146 1.134-3.163.226-6.326.34-9.715 0 1.695-1.247 3.276-2.494 5.422-4.194-3.276 0-6.1-1.926-8.585.454-1.355 1.246-2.485 1.7-3.615.453-.79-.793-1.13-2.493-.903-3.513.339-1.134 1.581-2.154 2.71-2.72 1.13-.567 2.825 1.586 2.712 3.4 6.89 2.04 10.731 1.02 16.267-4.647-3.615-.907-6.891-2.153-10.28-2.493-3.276-.34-6.552.453-10.167.793v-8.613c.904 0 1.808-.114 3.05-.114.113 2.154.226 4.307.34 6.007a2005.23 2005.23 0 0118.751 3.4c0-.113.113-.34.113-.453-1.469-.454-2.824-1.02-4.18-1.36V17.34h.904v7.367c2.146-.114 4.293.453 5.31-.34 2.372-1.927 5.535-3.287 5.986-7.14.34-3.4 1.469-4.08 4.858-3.514.565.114 1.13.34 1.807.454 2.824.793 2.824.793 2.711 3.966 1.017-.113 1.92-.34 2.937-.453.113.227.226.567.34.793a165.34 165.34 0 01-4.52 2.38c0 .114-.225.227-.225.34.904 1.7.452 4.647 3.163 4.647.678 0 1.355-3.06 1.807-4.647.339-1.02.452-2.04.565-3.06 0-.566-.226-1.586-.678-1.7-3.276-1.813-2.146-4.646-2.146-6.8-.113-2.266.79-4.646 1.355-6.913.113-.34 1.243-.453 1.808-.453 11.296-.454 22.705-.794 34.002-1.134 3.502-.113 7.568 3.627 7.23 6.914-.114.906-.904 1.813-1.47 2.606-.338.34-.903.567-1.355.794-5.535 1.813-8.133 5.666-8.133 11.333 0 1.587-.678 2.607-2.372 2.38-1.017-1.927-2.034-3.74-3.05-5.78-2.937 1.7-5.31 3.287-7.908 4.533-.79.454-2.146.454-2.937 0-2.485-1.133-4.97-2.493-7.342-3.966-1.13-.68-1.92-.68-2.937.34-1.582 1.586-3.276 3.06-5.31 5.1 13.556.68 26.547 1.246 39.763 1.926.113-1.586.113-3.4.226-5.326h.904v5.666c3.954 1.247 4.632.794 4.744-2.946 0-1.247.452-2.494.791-3.74.339 1.246.678 2.493.904 3.853.113.907 0 1.813 0 2.607 7.568.453 14.798.906 22.028 1.246v1.587zm-87.434-1.587c2.373-1.36 4.18-2.606 6.213-3.513 2.034-.907 2.147-2.38 1.582-4.307-3.05 2.04-6.213 3.74-7.795 7.82z" stroke="#009846" stroke-width=".9" stroke-miterlimit="10"/><path d="M51.172 40.46c-.903.567-1.468.907-1.92 1.36-.904-6.007-2.372-8.16-7.794-10.767 3.84-2.606 8.133-2.833 10.618-.68 1.356 1.134 1.356 6.8-.113 9.52 4.632.794 9.15 1.814 13.782 2.38 7.794.907 15.25-.906 22.366-4.42 1.017-.453 1.582-1.813 2.598-2.38.791-.453 2.373-.793 2.824-.34 1.017.907 3.05 1.587 1.695 3.627-.113.227-.339.453-.339.68-1.807 4.647-4.857 6.913-10.054 5.893-1.016-.226-2.598.567-3.389 1.36-1.807 1.927-3.953 2.38-6.439 2.38-7.23.227-14.233-.906-21.35-2.266-1.92-.34-2.71-1.02-2.485-2.947v-3.4z" stroke="#009846" stroke-width=".9" stroke-miterlimit="10"/><path d="M38.069 49.98c-4.858-.113-8.586-3.967-8.473-8.84.113-4.76 4.18-8.613 8.924-8.5 4.858.227 8.698 4.307 8.585 8.953-.225 4.76-4.18 8.387-9.036 8.387zm.112-5.553c2.034 0 3.163-1.134 3.39-2.947.225-1.7-1.582-3.513-3.277-3.287-1.807.114-3.05 1.134-3.05 3.174 0 1.813 1.13 2.833 2.937 3.06zM82.237 38.08c-5.084 3.173-10.732 3.173-16.267 3.4-.565 0-1.242-1.02-1.92-1.587.79-.68 1.581-1.813 2.372-1.813 5.31-.113 10.619 0 15.815 0zM10.28 45.22c0 1.927-1.92 3.627-3.728 3.514-1.808-.114-3.39-1.814-3.276-3.627 0-2.04 1.694-3.514 3.728-3.4 1.807 0 3.275 1.587 3.275 3.513z" stroke="#009846" stroke-width=".9" stroke-miterlimit="10"/><path d="M26.772 41.253H24.4c-5.761-.226-11.522-.34-17.397-.793-2.824-.227-4.405.68-5.309 3.287-.113.566-.565 1.02-.904 1.586-.903-2.153 1.13-6.12 3.276-6.006 7.569.113 15.024.453 22.593.793.113.34.113.68.113 1.133z" stroke="#009846" stroke-width=".9" stroke-miterlimit="10"/><path d="M18.865 45.107c0 1.926-1.694 3.626-3.615 3.626-1.807 0-3.389-1.586-3.389-3.513 0-2.04 1.469-3.627 3.615-3.513 1.92 0 3.389 1.473 3.389 3.4z" stroke="#009846" stroke-width=".9" stroke-miterlimit="10"/></svg>
            b Інше

        .category-control
          .filter-toggle.btn.btn--empty.btn--sm
            +svg('filter')
            | Фільтр
          .category-control__count Товарів:
            b 1 658
          select
            option По популярности
            option По популярности 1
            option По популярности 2


  .catalog
    .container
      .row
        .col-12
          .catalog__grid
            form.filter(action="#")
              .filter__wrap
                .filter__wrap-mob
                  .filter__wrap-mob-toggle
                    +svg('carbon_menu')
                    | Фільтр
                  //- .filter__wrap-mob-reset
                  button.btn.btn--empty.btn--sm Скасувати фільтр

                .filter__content
                  .filter__item
                    .filter__title Виробник
                      +svg('down')
                    .filter__item-content
                      .filter__search
                        input(type="text", name="filter-search", placeholder="Пошук")
                      .filter__options
                        +checkbox('МТЗ')
                        +checkbox('Case')
                        +checkbox('Claas')
                        +checkbox('New Holland', 'check')
                  .filter__item
                    .filter__title Ціна
                      +svg('down')
                    .filter__item-content
                      .filter__options
                        .range-slider.range-slider--price
                          .range-slider__contaroll
                            input.js-input-from(type="text")
                            input.js-input-to(type="text")
                            button Ок
                          input.js-range-slider(type="text", name="range_slider_price")
                  .filter__item
                    .filter__title Пропускна здатність, кг/с
                      +svg('down')
                    .filter__item-content
                      .filter__options
                        +checkbox('7')
                        +checkbox('8')
                        +checkbox('10')
                        +checkbox('12')
                        +checkbox('14')
                        +checkbox('15')
                        +checkbox('19')
                        +checkbox('191')
                        +checkbox('3191')
                  .filter__item
                    .filter__title Cистема обмолоту
                      +svg('down')
                    .filter__item-content
                      .filter__options
                        +checkbox('Барабанна')
                        +checkbox('Подвійна')
                        +checkbox('Роторна')
                        +checkbox('Роторний сепаратор')
                  .filter__item
                    .filter__title Система очистки
                      +svg('down')
                    .filter__item-content
                      .filter__options
                        +checkbox('200-1050')
                        +checkbox('4 клавішний соломотряс')
                        +checkbox('5 клавішний соломотряс')
                        +checkbox('6 клавішний соломотряс')
                        +checkbox('Повітряна')
                  .filter__item
                    .filter__title Потужність двигуна, к.с.
                      +svg('down')
                    .filter__item-content
                      .filter__options
                        .range-slider.range-slider--power
                          .range-slider__contaroll
                            input.js-input-from(type="text")
                            input.js-input-to(type="text")
                            button Ок
                          input.js-range-slider(type="text", name="range_slider_price")
                .filter__action
                  button.filter__action-clear.btn.btn--empty.btn--sm Очистить фильтр
                  button.filter__action-enter.btn.btn--sm Застосувати


            .catalog__grid-content
              .grid
                +item('gird_1.jpg', 'Комбайн TC4.90 New Holland', '1 384 275 <span>грн</span>')
                +item('gird_2.jpg', 'Комбайн CX6.90 New Holland', '2 658 652 <span>грн</span>')
                +item('gird_3.jpg', 'Комбайн CX 8.90 New Holland', '3 658 652 <span>грн</span>')
                +item('gird_4.jpg', 'Комбайн CR 7.90 New Holland', '2 958 652 <span>грн</span>')
                +item('gird_5.jpg', 'Комбайн CR 7.90 New Holland', '2 958 652 <span>грн</span>')
                +item('gird_6.jpg', 'Комбайн LOVOL GM80', '858 652 <span>грн</span>')
                +item('gird_7.jpg', 'Комбайн СХ 8.80 New Holland', '858 652 <span>грн</span>')
                +item('gird_8.jpg', 'Комбайн СХ 8.80 New Holland', '3 858 652 <span>грн</span>')
                +item('gird_9.jpg', 'Комбайн СХ 8.80 New Holland', '858 652 <span>грн</span>')
                +item('gird_10.jpg', 'Комбайн СХ 8.80 New Holland', '999 999 <span>грн</span>')
                +item('gird_1.jpg', 'Комбайн TC4.90 New Holland', '1 384 275 <span>грн</span>')
                +item('gird_2.jpg', 'Комбайн CX6.90 New Holland', '2 658 652 <span>грн</span>')
                +item('gird_3.jpg', 'Комбайн CX 8.90 New Holland', '3 658 652 <span>грн</span>')
                +item('gird_4.jpg', 'Комбайн CR 7.90 New Holland', '2 958 652 <span>грн</span>')
                +item('gird_5.jpg', 'Комбайн CR 7.90 New Holland', '2 958 652 <span>грн</span>')
                +item('gird_6.jpg', 'Комбайн LOVOL GM80', '858 652 <span>грн</span>')
                +item('gird_7.jpg', 'Комбайн СХ 8.80 New Holland', '858 652 <span>грн</span>')
                +item('gird_8.jpg', 'Комбайн СХ 8.80 New Holland', '3 858 652 <span>грн</span>')
                +item('gird_9.jpg', 'Комбайн СХ 8.80 New Holland', '858 652 <span>грн</span>')
                +item('gird_10.jpg', 'Комбайн СХ 8.80 New Holland', '999 999 <span>грн</span>')

              +pagination







































































//-
