extends ../layout/main

block head
  - var title = 'Типова'
  - var bodyClass = ''
block content
  .container
    .row
      .col-md-8
        h1 Типова
        p Завдання організації, особливо ж склалася структура організації відіграє важливу роль у формуванні істотних фінансових і адміністративних умов. З іншого боку постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам.
        p Повсякденна практика показує, що склалася <a href="#">структура організації забезпечує широкому колу (фахівців) участь у</a> формуванні системи навчання кадрів, відповідає нагальним потребам. Значимість цих проблем настільки очевидна, що постійне інформаційно-пропагандистське забезпечення нашої діяльності вимагають від нас аналізу істотних фінансових і адміністративних умов.
        p Повсякденна практика показує, що зміцнення та розвиток структури вимагають від нас аналізу системи навчання кадрів, відповідає нагальним потребам.
        +imggen('tip_1.jpg')
        .row
          .col-6
            p Завдання організації, особливо ж склалася структура організації відіграє важливу роль у формуванні істотних фінансових і адміністративних умов. З іншого боку постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам.
            p Повсякденна практика показує, що склалася структура організації забезпечує широкому колу (фахівців) участь у формуванні системи навчання кадрів, відповідає нагальним потребам. Значимість цих проблем настільки очевидна, що постійне інформаційно-пропагандистських забезпечення
          .col-6
            p
              +imggen('tip_2.jpg')
        p.mt-0  Нашої діяльності вімагають від нас аналізу істотніх фінансових и адміністратівніх умів. Повсякдення практика показує, что зміцнення та розвиток структури вімагають від нас аналізу системи навчання кадрів, відповідає нагальне буде потрібно.
        .row
          .col-6
            p
              +imggen('tip_2.jpg')
          .col-6
            p Завдання організації, особливо ж склалася структура організації відіграє важливу роль у формуванні істотних фінансових і адміністративних умов. З іншого боку постійний кількісний ріст і сфера нашої активності дозволяє виконувати важливі завдання по розробці системи навчання кадрів, відповідає нагальним потребам.
            p Повсякденна практика показує, що склалася структура організації забезпечує широкому колу (фахівців) участь у формуванні системи навчання кадрів, відповідає нагальним потребам. Значимість цих проблем настільки очевидна, що постійне інформаційно-пропагандистських забезпечення
        p.mt-0  Нашої діяльності вімагають від нас аналізу істотніх фінансових и адміністратівніх умів. Повсякдення практика показує, что зміцнення та розвиток структури вімагають від нас аналізу системи навчання кадрів, відповідає нагальне буде потрібно.

        h1 Заголовок H1
        h2 Заголовок H2
        h3 Заголовок H3
        h4 Заголовок H4
        h5 Заголовок H5

        h2.mt-90 Маркований список
        ul
          li Пункт списку №1
          li Пункт списку №2
          li Пункт списку №3
          li Пункт списку №4
          li Пункт списку №5
        h2.mt-90 Нумерований список
        ol
          li Пункт списку №1
          li Пункт списку №2
          li Пункт списку №3
          li Пункт списку №4
          li Пункт списку №5

        h2.mt-90 Таблиця
        table
          tr
            th Заголовок
            th Заголовок
            th Заголовок
          tr
            td Інформація
            td Інформація
            td Інформація
          tr
            td Інформація
            td Інформація
            td Інформація
          tr
            td Інформація
            td Інформація
            td Інформація
          tr
            td Інформація
            td Інформація
            td Інформація















































































//- 