extends ../layout/main

block head
  - var title = 'Про компанію'
  - var bodyClass = ''
block content
  +bred
  .container
    .row
      .col-12
        h1 !{title}

  section.section.pages-nav-container
    .container
      .row
        .col-xl-3
          +pages-nav
        .col-xl-9
          h2 Вакансії
          .vacancy-block
            .vacancy-block__filter
              select
                option Всі регіони
                option Всі регіони 2
                option Всі регіони 3
              select
                option Всі категорії
                option Всі категорії 2
                option Всі категорії 3
            .vacancy-block__list
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020
              .vacancy-block__item
                a.vacancy-block__item-title(href="#") Механік по ремонту с/г техники
                .vacancy-block__item-info
                  .city Київ, Житомир
                  .date 23.02.2020

























































//-
