mixin foot()
  footer.foot
    .container
      .row.foot__top
        .col-6.col-lg-3.col-xl-2
          .foot__list
            a.foot__list-title(href="#") Техніка
            ul
              li
                a(href="#") Комбайни
              li
                a(href="#") Трактора
              li
                a(href="#") Оприскувачі
              li
                a(href="#") Погружчики
              li
                a(href="#") Вантажівкиовики
              li
                a(href="#") Причепи
              li
                a(href="#") Інше
        .col-6.col-lg-3.col-xl-2
          .foot__list
            a.foot__list-title(href="#") Агротехнології
            ul
              li
                a(href="#") Насіння
              li
                a(href="#") ЗЗР
              li
                a(href="#") Добрива
              li
                a(href="#") Агросервіс
        .col-6.col-lg-3.col-xl-3
          .foot__list
            a.foot__list-title(href="#") Сервіс
            ul
              li
                a(href="#") Сервісне обсулужіваніе техніки
              li
                a(href="#") Агрономічний супровід
              li
                a(href="#") Фінансові програми
              li
                a(href="#") Агротрейдинг
        .col-6.col-lg-3.col-xl-2
          .foot__list
            a.foot__list-title(href="#") Про нас
            a.foot__list-title(href="#") Партнери
        .col-12.col-lg-5.col-xl-3
          a.foot__list-title(href="#") Контакти
          .foot__list-title.mb-0 Графік роботи:
          | ПН - ПТ, 8:30 - 17:30
          .foot__list-title.mb-0.mt-20 Центральний офіс:
          | 25014, м Кропивницький, вул. Мурманська 29М
          a.foot__list-title.mt-20(href="tel:+380504875562") +38 (050) 487 55 62
          .foot__list-title.mb-0.mt-20 Email:
          a(href="mailto:v.kolechkina@agroresurs-a.com") v.kolechkina@agroresurs-a.com
          +sc('')
      .row.foot__bot
        .col-lg-5
          .copyright
            a(href="#").logo
              +svg('logo')
            | ©  2020 «АГРОРЕСУРС» Всі права захищені
        .col-lg-2
          +lang('')
        .col-lg-5
          .dev Дизайн і розробка:
            <svg width="33" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.398 15L3.524 6.375 2.77 5.042c1.038 0 2.026.002 3.013-.002.16 0 .172.119.218.202.724 1.324 1.444 2.65 2.165 3.976l.154.28.934-1.7a540.79 540.79 0 002.252-4.07c.32-.587.965-1.776 1.307-2.38.216-.385.229-.388.286-.52.109-.246.26-.475.379-.718a.19.19 0 01.07-.082l3.026.03L8.398 15zM4.365 2.53h.13L3.19 0H0l1.344 2.405c.048.087.107.126.218.125.961-.003 1.92-.002 2.88-.002M30.058 6.273l.256-.22-.011.374c0 2.772.002 5.544-.006 8.316l.005.245s.453.007.273.01H33v-.254c-.006-4.819-.005-9.637-.006-14.455L33 0l-.27.25c-2.565 2.356-5.134 4.708-7.695 7.067l-.226.198-.184-.192C22.047 4.955 19.46 2.595 16.873.234c-.068-.062-.254-.22-.25-.171 0 1.074.003 2.14-.004 3.207l7.996 7.59.195.196 5.248-4.783z" fill="#95A29B"/></svg>

